& when (@media-common =true) {
  .banner {
    background-color: #eee;
    position: relative;
    margin-bottom: @indent__base;
    background-size: cover;
    background-position: 50%;

    &--square {
      padding-bottom: 100%;
      margin-bottom: @indent__base;

      &:before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        height: 100%;
        bottom: 0;
        background-color: rgba(15, 0, 7, 0.35);
      }

      .banner__content {
        font-weight: 600;
        color: #fff;
        font-size: 14px;
      }
    }

    &--row {
      margin-bottom: 20px;
      padding-bottom: 25%;
    }

    &--hero {
      margin: 0 -20px;
      margin-bottom: 20px;
    }

    .banner__content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .trust-banner {
    padding: 20px 0;

    .owl-stage-outer {
      overflow: visible;
    }

    .trust-banner__slide {
      padding: 0px 24px;

      .trust-banner__logo {
        width: 150px;
        margin: 0 auto 10px;
        display: block;
      }

      span {
        font-size: 18px;
        font-family: @font-family__serif;
        display: block;
        &.trust-banner__quote {
          margin-bottom: 10px;
        }
        &.trust-banner__brand {
          font-style: italic;
        }
      }
    }
  }

}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
  .banner--hero {
    padding-bottom: 100vw;
  }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {

  .banner--hero {
    padding-bottom: 40%;
    margin-bottom: 5rem;
  }
}