& when (@media-common =true) {
	span.tax-details {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.page-products {
		.columns {
			position: relative;
			z-index: 1;
		}

		.sorter {
			.products.wrapper ~ .toolbar & {
				display: none;
			}

			&-options {
				margin: 0 5px;
				width: auto;
			}
		}

		.toolbar-products {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			text-align: center;

			#toolbar-amount {
				width: 100%;
				margin-top: 3rem;
			}

			.pages {
				width: 100%;
			}
		}

		.product-label-wrapper {
			width: 100%;
			position: absolute;
			top: 0;
			height: 100px;
			z-index: 1;
			display: block;

			.product-label {
				height: 35px;
				width: 45%;
				background-color: #C4CDC5;
				display: inline-block;
				margin-top: 10px;
				text-align: center;

				span {
					line-height: 3;
					color: #FFFFFF;
					font-family: "Beausite Classic";
					font-size: 1.2rem;
					letter-spacing: 0.23px;
				}
			}
		}
	}

	.product-image-photo {
		max-width: 80%;
	}

}


//
//	Mobile
//	Product View
//	---------------------------------------------
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
	.toolbar-products {
		margin: 2rem 0;
	}

	.modes,
	.toolbar-amount,
	.toolbar-sorter {
		display: none;
	}

	.page-products .toolbar {
		justify-content: center;
	}

	.catalog-product-view {
		.description-button {
			color: #000;
			font-size: 14px;
			background-color: #dce0e6;
			padding: 10px 20px;
			border: 1px solid #e5e8ed;
			-webkit-box-shadow: 0 0 0 1px rgba(99, 115, 129, .05), 0 1px 2px 0 rgba(99, 115, 129, .5);
			box-shadow: 0 0 0 1px rgba(99, 115, 129, .05), 0 1px 2px 0 rgba(99, 115, 129, .5);

			&.collapse {
				display: inline-block;
				margin-top: 2rem;
			}

			&.expand {
				position: absolute;
				z-index: 1;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.expanded .description-button.expand {
			display: none;
		}

		.page-title {
			font-size: 13px;
		}

		.product.attribute.overview {
			padding: 0;
		}

		.stock {
			font-size: 13px;
			font-weight: 600;
		}

		.block-upsell-heading {
			text-transform: uppercase;
			font-size: 13px;
			text-align: center;
			font-family: 'Beausite Classic', 'Times New Roman', Times, serif;
			font-weight: 600;
			width: 100%;
		}

		.details {
			.owl-item {
				&:nth-child(odd) .detail {
					background: #e6d6df;
					color: #000;
					border: 1px solid #e6d6df;
				}

				&:nth-child(even) .detail {
					background: #9e8f99;
					color: #fff;
					border: 1px solid #9e8f99;
				}
			}
		}

		.detail {
			padding: 20px;
			max-height: 400px;
			position: relative;
			overflow: hidden;

			&:after {
				content: "";
				position: absolute;
				display: block;
				bottom: 0;
				left: -1px;
				right: -1px;
				height: 100px;
				background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.46) 25%, rgba(255, 255, 255, 1) 100%);
				background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.46) 25%, rgba(255, 255, 255, 1) 100%);
				background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.46) 25%, rgba(255, 255, 255, 1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
			}

			&.expanded {
				max-height: none;

				&:after {
					display: none;
				}
			}
		}

		.question-title {
			font-size: 20px;
			margin: 2rem 0 1rem;
		}

		.header-wrap {
			background: transparent;
		}

		#maincontent {
			padding-top: 0;
		}
	}
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
	.catalog-product-view {
		#maincontent {
			padding-top: @indent__s;
		}

		.page-title-wrapper.product .page-title {
			font-size: 28px;
			padding-right: 150px;
		}
	}
	.page-products .toolbar {
		justify-content: space-between;
	}

	.toolbar-products {
		margin: 4rem 0;
	}
}

@media only screen and (min-width: 768px) {
	.block.filter {
		display: none;
	}
}

//
//	Related Products
//	---------------------------------------------
.actions-toolbar.product.actions.product-item-actions {
	opacity: 0;
	transition: opacity 350ms ease-out;
}

.active .actions-toolbar.product.actions.product-item-actions {
	opacity: 1;
}

.price-box {
	font-size: 13px;
	margin-bottom: @indent__s;

	.price {
		font-weight: 600;
	}
}

.catalog-category-view .page-title-wrapper {
	text-align: center;
}