.checkout-swissclinic-index {
  background: #f8f8f8;

  /* Mobile & iPad */
  @media only screen and (max-width: 991px) {
    #checkout {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }


  #checkout {
    margin: 0 -8px;
  }

  strong,
  .action {
    font-weight: 400;

    span {
      font-weight: inherit;
    }
  }


  .fieldset > .field > .label {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .field._required>.label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
  }

  .page-main {
    padding: 0 8px;
    margin-top: 20px;

    /* Desktop */
    @media only screen and (min-width: 992px) {
      margin-top: 40px;

      span.tax-details {
        margin: 5px 0 10px 0;
      }
    }
  }

  .column {
    display: flex;
    flex-direction: column;

    &-left {
      float: left;

      /* Mobile & iPad */
      @media only screen and (max-width: 991px) {
        order: 1;
      }
    }

    &-right {
      float: right;

      /* Mobile & iPad */
      @media only screen and (max-width: 991px) {
        order: 3;
      }
    }
  }

  #shipping {
    margin-top: 32px;
    order: 3;
  }

  #opc-shipping_method {
    margin-top: 32px;
    order: 1;

    /* Desktop */
    @media only screen and (min-width: 992px) {
      margin-top: 0;
    }
  }

  #klarna_kco {
    margin-top: 0px;
    order: 5;
  }

  #payment {
    margin-top: 32px;
    order: 3;
    display: block;
  }

  .fieldset > br,
  .legend,
  legend.label {
    display: none;
  }

  .authentication-wrapper {
    display: none;
  }

  .page-title-wrapper {
    display: none;
  }

  .items-total {
    display: none;
  }

  .block-title {
    display: none;
  }

  .subtitle {
    display: none;
  }

  .field-error,
  .mage-error,
  .message {
    font-size: 12px;
  }

  .field-tooltip .field-tooltip-content {
    left: initial;
    right: 0;
    top: initial;
    bottom: 56px;

    &:before,
    &:after {
      left: initial;
      right: 0;
      top: initial;
      bottom: -21px;
      right: 9px;
      border-bottom-color: transparent !important;
    }

    &:before {
      border-right-color: transparent;
      border-top-color: #666666;
    }

    &:after {
      border-right-color: transparent;
      border-top-color: #f4f4f4;
    }
  }

  .minicart-items-wrapper {
    border: none;
    padding: 0;
    height: auto !important;
    overflow-x: visible;
  }

  .step-title,
  .subtotal .label,
  .payment-option-title {
    font-family: 'Beausite Slick', 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0 !important;

    span {
      line-height: 1;
    }
  }

  .field-tooltip-action::before {
    margin: 13px 8px;
    line-height: 26px;
  }

  .form-login {
    margin-top: 8px;

    /* Desktop */
    @media only screen and (min-width: 992px) {
      margin-top: 16px;
    }

    .note {
      &:before {
        display: none;
      }

      span {
        color: #9e9e9e;
        margin-top: 4px;
        display: block;
        font-size: 12px;
      }
    }
  }

  .label {
    font-size: 12px;
    display: block;
    margin-bottom: 8px;

    span {
      line-height: initial;
    }
  }

  input.input-text,
  .select {
    border: 1px solid #ebebeb;
    display: block;
    height: auto;
    vertical-align: initial;
    font-weight: initial;
    font-size: 14px;
    background-color: #fff;
    line-height: initial;
    padding: 16px;
    -webkit-appearance: none;
  }

  select:hover {
    cursor: pointer;
  }

  i.select-arrow {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #a2a2a2;
  }

  #shipping-new-address-form {
    > .field {
      margin-top: 16px;
    }

    .control {
      position: relative;
    }
  }

  .field.street {
    label {
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .field + .field {
      margin-top: 16px;
    }
  }

  .icon-check {
    color: #4d0017;
    font-size: 19px;
    position: absolute;
    left: 7px;
    top: 5px;
    font-weight: 600;
    display: none;
    z-index: 0;
  }

  .ordersummary-wrapper {
    .product-item {
      background: #fff;
      padding: 8px !important;
      margin: 0;
      border: 1px solid #ebebeb !important;
      position: relative;

      + .product-item {
        margin-top: 16px;
      }

      /* Desktop */
      @media only screen and (min-width: 992px) {
        padding: 16px !important;
      }

      //&-photo {
      //  float: none;
      //}

      .product {
        display: block;
      }

      span {
        max-width: initial;
        width: auto !important;
        display: block;
        height: 100%;

        /* Mobile & iPad */
        @media only screen and (max-width: 991px) {
          font-size: 12px;
        }
      }

      .product-image-photo {
        margin: initial;
      }

      .product-item-details {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding-left: 8px;
        flex: 1;
      }

      .product-item-name {
        margin: 0;

        a {
          color: #000;
          font-weight: 400;
          font-size: 14px;
        }
      }

      .price {
        font-size: 14px;
        font-weight: 400;
      }

      .price-including-tax {
        margin: 0;
      }

      .product-item-pricing {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .details-qty.qty {
          align-items: center;
          display: flex;

          button {
            background: #f0f0f0;
            border: none;
            color: #000;
            margin-right: 8px;
            line-height: 1;
            padding: 16px;
            font-size: 14px;
            width: 50px;

            /* Mobile & iPad */
            @media only screen and (max-width: 991px) {
              width: 40px;
              padding: 12px;
            }

            &:hover {
              background-color: #e2e2e2;
            }
          }

          .label {
            margin: 0 4px 0 0 !important;
            line-height: initial;
            width: auto;

            /* Mobile & iPad */
            @media only screen and (max-width: 991px) {
              font-size: 12px;
            }
          }

          .item-qty {
            padding: 0;
            width: 8px;
            height: auto;
            border: none;
            line-height: 1;
            overflow: visible;
            margin: 0;
            font-size: 14px;
            opacity: 1;

            /* Mobile & iPad */
            @media only screen and (max-width: 991px) {
              font-size: 12px;
            }
          }

          .price-container {
            flex: 1;
            text-align: right;
          }
        }
      }

      .product.actions {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }

  .table-totals {
    margin-top: 16px;

    tbody {
      .lib-css(background-color, @scarlet-red);
      color: #fff;
      display: block;
      padding: 16px;
    }

    tr {
      display: flex;
      justify-content: space-between;

      &.grand.totals {
        border-top: 1px solid #fff;
      }

      &:first-child th,
      &:first-child td {
        padding-top: 0;
      }

      &:last-child th,
      &:last-child td {
        padding-bottom: 0;
      }
    }

    th,
    td {
      font-weight: 400;
      padding: 8px 0;
    }

    .totals {
      font-size: 14px;

      &.shipping .mark {
        display: flex;

        .label {
          margin-right: 8px;
        }

        .value {
          &:before {
            content: '(';
          }

          &:after {
            content: ')';
          }
        }
      }

      .label {
        font-size: inherit !important;
        margin: 0;
      }
    }
  }

  .discount-code {
    margin-top: 32px;

    .payment-option-title {
      margin-bottom: 8px;

      /* Desktop */
      @media only screen and (min-width: 992px) {
        margin-bottom: 16px;
      }
    }

    .payment-option-inner {
      flex: 1;
    }

    .form-discount {
      display: flex;
      align-items: flex-end;
    }

    .primary button {
      font-size: 14px;
      padding: calc(17px);
      margin-right: 0;
      border: none;
      line-height: initial;
    }
  }

  .newsletter-subscribe {
    order: 2;
    margin-top: 32px;

    .field {
      margin-top: 8px;
      background-color: #fff;
      padding: 16px;
      border: 1px solid #ebebeb;

      /* Desktop */
      @media only screen and (min-width: 992px) {
        margin-top: 16px;
      }
    }

    .control {
      position: relative;
      display: flex;
      align-items: center;
    }

    .label {
      margin: 0;
    }

    input[type='checkbox'] {
      padding: 0;
      align-self: flex-start;
      -webkit-appearance: none;
      width: 32px;
      height: 32px;
      background-color: transparent;
      border: 2px solid rgba(77, 0, 23, 0.5);
      border-radius: 4px;
      margin: 0 16px 0 0;
      z-index: 1;
      position: relative;
      -ms-flex: 0 0 32px;
      flex: 0 0 32px;
      max-width: 32px;

      &:checked {
        border-color: #4d0017;

        & + .icon-check {
          display: block;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .payment-methods {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .payment-method,
  .shipping-method {
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    margin-top: 8px;

    @media only screen and (min-width: 992px) {
      margin-top: 16px;
    }

    &._active {
      border: 1px solid #4d0017;
    }

    input[type='radio'] {
      -webkit-appearance: none;
      width: 32px;
      height: 32px;
      border: 2px solid rgba(77, 0, 23, 0.5);
      border-radius: 4px;
      margin: 0;
      z-index: 1;
      position: relative;
      background-color: transparent;

      &:hover {
        cursor: pointer;
      }

      &:checked {
        border-color: #4d0017;

        & + .radio-dot {
          display: block;
        }
      }
    }

    .radio-dot {
      background-color: #4d0017;
      width: 12px;
      height: 12px;
      border-radius: 4px;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateX(-50%) translateY(-50%);
      display: none;
    }
  }

  .shipping-method {
    display: flex;
    align-items: center;

    .check {
      position: relative;
      order: 1;
      margin-right: 16px;
      display: flex;
    }

    .price {
      flex: 2;
      order: 3;
      text-align: right;
    }

    .method {
      order: 2;
    }

    .carrier {
      order: 4;
      flex: 1;
      text-align: right;
    }
  }

  .payment-method {
    border-color: rgba(77, 0, 23, 0.5);

    input[type='checkbox'] {
      align-self: flex-start;
      -webkit-appearance: none;
      width: 32px;
      height: 32px;
      background-color: transparent;
      border: 2px solid rgba(77, 0, 23, 0.5);
      border-radius: 4px;
      margin: 0;
      z-index: 1;
      position: relative;
      -ms-flex: 0 0 32px;
      flex: 0 0 32px;
      max-width: 32px;

      &:hover {
        cursor: pointer;
      }

      &:checked {
        border-color: #4d0017;

        & + .icon-check {
          display: block;
        }
      }
    }

    .label {
      margin: 0;
      margin-left: 16px;
      font-size: 14px;
    }

    &-title {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0;
      border: none !important;
    }

    &-content {
      padding: 16px 0 0;
      border-top: 1px solid #4d0017;
      margin-top: 16px;
      font-size: 14px;
    }

    .checkout-billing-address {
      padding-bottom: 16px;
      border-bottom: 1px solid #4d0017;

      .control {
        position: relative;
      }

      /* Mobile */
      @media only screen and (max-width: 767px) {
        .input-text,
        .select {
          font-size: 12px;
        }
      }

      .field-select-billing {
        display: none;
      }

      .field {
        margin: 0;

        > .label {
          font-size: 12px;
          margin: 16px 0 8px;
        }
      }

      .actions-toolbar {
        display: flex;
        margin-top: 16px;
        justify-content: flex-end;

        .primary {
          display: flex;
          align-items: center;
          flex-flow: row-reverse;
        }

        .action-cancel {
          margin: 0;
          border: 1px solid #ebebeb;
          padding: 16px;
          line-height: 1;
          background-color: #f8f8f8;
          margin-right: 16px;
          color: #000;
        }

        .action-update {
          margin: 0;
          padding: 16px;
        }
      }
    }

    .billing-address-same-as-shipping-block {
      margin: 0;
      position: relative;
      display: flex;
      align-items: center;

      label {
        flex: 1;
      }
    }

    label {
      margin-left: 16px;
    }

    .billing-address-details {
      padding: 16px 48px;
      line-height: 20px;

      &:empty {
        display: none;
      }
    }

    .action.primary.checkout,
    .action-edit-address {
      line-height: initial !important;
      padding: 16px !important;
      font-size: 16px !important;
      min-width: 96px;
      margin: 16px 0 0 0;

      /* iPad & Desktop */
      @media only screen and (min-width: 768px) {
        margin-top: 0;
      }

      span {
        display: block;
        width: 100%;
      }
    }

    .checkout-agreements {
      margin-bottom: 0;

      &-block {
        .amasty-gdpr-consent {
          margin-top: 16px;
          display: flex;
          align-items: center;
          position: relative;
        }

        /* iPad & Desktop */
        @media only screen and (min-width: 768px) {
          float: left;
          margin-top: 13px;
        }
      }
    }

    .checkout-agreement {
      position: relative;
      display: flex;
      align-items: center;

      .button:hover {
        text-decoration: underline;
      }
    }

    /* BR Specific */
    .moipboleto.instruction.address br:first-child {
      display: none;
    }

    .items.check.payable {
      margin: 0 -8px 16px;
      display: flex;

      .title {
        font-size: 16px;
        margin-bottom: 8px;
        font-weight: 400;
      }

      .content {
        font-size: 12px;
      }
    }

    #moipcc-form {
      #payment_form_moipcc > .field.type {
        max-width: 480px;
      }

      .field {
        margin: 0 0 16px;

        .label {
          font-size: 12px;
          display: block;
          margin: 0 0 8px;
        }

        .field {
          margin-bottom: 0;
        }

        .fields {
          display: flex;

          .field {
            &.month {
              flex: 3;

              select {
                width: 100%;
              }
            }

            &.year {
              flex: 1;

              input {
                width: 100%;
              }
            }
          }
        }
      }

      .input-text {
        width: 100%;
      }

      .ccard .select {
        width: 100%;
        padding: 16px;
      }

      .cvv {
        .control._with-tooltip {
          clear: both;
          width: 100%;
        }

        .input-text {
          width: 25%;
        }

        .field-tooltip {
          left: 25%;
          right: auto;
        }
      }

      .control {
        margin: 0;
        position: relative;
      }

      .credit-card-types {
        display: flex;
        justify-content: space-between;
        margin: 0 -2px;

        .item {
          margin: 0;
        }
      }
    }
    /* END BR Specific */
  }

  .crosssell {
    margin-top: 2rem;
    -webkit-box-flex: 0;
    width: 100%;
    padding: 0 8px;
    float: left;
    margin-top: 32px;

    /* Mobile & iPad */
    @media only screen and (max-width: 991px) {
      order: 2;
    }

    /* Desktop */
    @media only screen and (min-width: 992px) {
      width: 41.666667%;
    }

    .block-title {
      display: block;
      text-align: left;

      strong {
        font-family: 'Beausite Slick', 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 8px;
        padding: 0px !important;
        margin-top: 0;

        /* Desktop */
        @media only screen and (min-width: 992px) {
          margin-bottom: 16px;
        }
      }
    }

    .product-items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -8px;
    }

    .product-item {
      padding: 0 8px;
      margin: 0;
      width: 100%;

      & + .product-item {
        margin-top: 8px;
      }

      /* Desktop */
      @media only screen and (min-width: 992px) {
        width: 50%;
        margin: 0;

        & + .product-item {
          margin-top: 0;
        }

        &:nth-child(n + 3) {
          margin-top: 16px;
        }
      }
    }

    .product-item-info {
      padding: 32px;
      background-color: #fff;
      border: 1px solid #ebebeb;
      height: 100%;
      display: flex;

      .product-item-name-and-price {
        flex: 1;
      }

      .product-item-details {
        display: flex;
        flex: 1;
      }

      /* Mobile & iPad */
      @media only screen and (max-width: 991px) {
        padding: 8px;
        display: flex;

        .product-item-details {
          align-items: center;
        }

        .product-item-photo {
          line-height: 0;
          margin-right: 8px;
        }

        .product-image-wrapper {
          padding-bottom: 0 !important;
          overflow: visible;
          height: auto;
        }

        .product-image-photo {
          position: relative;
          width: 64px;
          height: auto;
        }

        .product-item-name-and-price {
          font-size: 12px;
        }
      }

      /* Desktop */
      @media only screen and (min-width: 992px) {
        flex-direction: column;

        .product-item-details {
          flex-direction: column;
        }
      }
    }

    .product-item-name {
      margin: 0;
    }

    div.actions-primary {
      max-width: 75%;
      float: right;
    }

    .price-box {
      margin: 0;

      .price {
        font-weight: 400;

        /* Mobile & iPad */
        @media only screen and (max-width: 991px) {
          font-size: inherit;
        }
      }
    }

    .product-item-actions {
      margin: 16px 0 0;

      /* Mobile & iPad */
      @media only screen and (max-width: 991px) {
        margin: 0;
        display: flex;
        align-items: center;
      }

      .action.primary {
        background-color: transparent;
        color: #982140;
        padding: 0;
        border: none;

        /* Mobile & iPad */
        @media only screen and (max-width: 991px) {
          span:after {
            content: ' +';
          }
        }

        /* Desktop */
        @media only screen and (min-width: 992px) {
          border-bottom: 1px solid #982140;

          span:before {
            content: '+ ';
          }
        }
      }
    }
  }
}

.checkout-onepage-success {
  background: #f8f8f8;

  .page-title-wrapper {
    display: none;
  }

  .checkout-success {
    padding-top: 16px;

    @media only screen and (min-width: 768px) {
      margin-top: 61px;
    }

    @media only screen and (min-width: 992px) {
      padding-top: 64px;
    }
  }

  .checkout-success-inner {
    background-color: #fff;
    padding: 32px 16px;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: @font-family__serif;
    font-size: 14px;
    border: 1px solid #ebebeb;

    @media only screen and (min-width: 768px) {
      padding: 32px;
      font-size: 16px;
    }

    @media only screen and (min-width: 992px) {
      padding: 64px;
    }
  }

  .thank-you {
    margin: 0 0 32px;
  }

  .order-number-wrapper {
    margin-bottom: 16px;
  }

  .success-messages p:first-child {
    font-size: 32px;
    line-height: 1;
  }

  .success-messages p {
    margin-bottom: 16px;
  }

  .moip-block {
    margin-top: 32px;
  }

  #copyTarget {
    padding: 8px 16px;
    background-color: #f8f8f8;
    display: inline-block;
    margin: 16px auto;
  }

  .code-title {
    margin: 0;
  }

  .buttons {
    @media only screen and (min-width: 768px) {
      margin-top: 16px;
    }

    .action.primary {
      font-size: 14px;
      padding: 16px;
      min-width: 25%;
      border: 0;
      line-height: initial;
      font-weight: 400;

      + .action.primary {
        margin-left: 16px;
      }
    }
  }

  #registration {
    margin-top: 32px;

    @media only screen and (min-width: 768px) {
      margin-top: 48px;
    }

    .action.primary {
      margin: 0;
      background-color: transparent;
      color: #000;
      text-transform: uppercase;
      text-decoration: underline;
      border: 0;
      margin-bottom: -16px;
    }
  }

  .actions-toolbar {
    display: flex;
    justify-content: center;
    margin: 16px 0;

    .action.primary {
      margin: 0;
      background-color: transparent;
      color: #000;
      text-transform: uppercase;
      text-decoration: underline;

      span:before {
        content: '<< ';
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .header .action.back {
    cursor: pointer;

    .lib-button(
      @_button-padding: 13px 0 12px,
      @_button-background: @color-white,
      @_button-border: none,
      @_button-color: @color-black,
      @_button-font-content: @icon-arrow-left,
      @_button-icon-font-line-height: 19px,
      @_button-icon-font-position: before,
      @_button-icon-font-size: 16px,
      @_button-icon-use: true,
      @_button-color-hover: @color-black
    );

    span {
      margin-left: 10px;
      line-height: 18px;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .header .action.back {
    cursor: pointer;

    .lib-button(
      @_button-background: @color-white,
      @_button-border: none,
      @_button-color: @color-black,
      @_button-font-content: @icon-arrow-left,
      @_button-icon-font-line-height: 19px,
      @_button-icon-font-position: before,
      @_button-icon-font-size: 16px,
      @_button-icon-use: true,
      @_button-color-hover: @color-black
    );

    span {
      margin-left: 10px;
      line-height: 19px;
    }
  }
}
