.media-width(@extremum, @break)
  when
  (@extremum = 'max')
  and
  (@break = @screen__m) {
  .fotorama {
    margin-top: @layout-indent__width;
  }

  .fotorama {
    margin: 0 -20px;
  }

  .fotorama__stage {
    overflow: visible !important;
  }

  .fotorama__wrap {
    padding-left: 16px;
    padding-right: 16px;

    @media only screen and (min-width: 768px) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
}

.fotorama__stage.fotorama__shadows--left:before,
.fotorama__nav.fotorama__shadows--left:before {
  background-image: none !important;
}

.fotorama__stage__frame {
  background-color: #eee;
}
