.page-footer {
    background-color: @scarlet-red;

    .footer.content {
        border: none;
        padding: 20px;
    }

    .block.social {
        float: initial;

        .title {
            color: @color-white;
            margin-bottom: 10px;
        }

        .icons {
            display: flex;

            .icon + .icon {
                margin-left: 20px;
            }
        }
    }

    .block.newsletter {
        .label {
            color: @color-white;
            width: auto;
            position: initial;
            height: auto;
            overflow: initial;
            clip: initial;
            display: block;
            margin-bottom: 10px;
        }

        .field .control {
            margin-right: 10px;
        }

        .actions {
            vertical-align: bottom;
        }
    }

    .nav.item a {
        color: @footer-links-color;
        &:hover {
            color: @footer-links-color-hover;
        }
    }

    .copyright {
        color: @color-white;
        margin-top: 50px;
    }

    & when (@media-target = 'desktop') {
        .footer .copyright {
            text-align: center;
            width: 100%;
        }

        ul.footer.links {
            order: -2;
        }

        .block.social {
            order: -1;
        }

        .block.newsletter {
            order: 0;
            float: none;
        }


        .footer.content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            max-width: 1280px;
            width: auto;
        }
    }
}

