//
//  General
//  _____________________________________________

* {
    box-sizing: border-box;
}

//
// Fonts
//  _____________________________________________

.lib-font-face(
    @family-name:'Beausite Classic',
    @font-path: '@{baseDir}fonts/BeausiteClassicWeb-Light',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name:'Beausite Slick',
    @font-path: '@{baseDir}fonts/BeausiteSlickWeb-Light',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name:'Beausite Slick',
    @font-path: '@{baseDir}fonts/BeausiteSlickWeb-LightItalic',
    @font-weight: 300,
    @font-style: italic
);

//
// Helpers
//  _____________________________________________

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.flex-1 {
    flex: 1;
}

.d-block {
    display: block;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.btn-primary {
    .lib-css(border-color, @scarlet-red);
}

.space-between {
    justify-content: space-between;
}

.border-y {
    border-top: 1px solid #dce0e6;
    border-bottom: 1px solid #dce0e6;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.flex-column {
    flex-direction: column;
}

.d-none {
    display: none;
}

@media only screen and(min-width: 768px) {
    .flex-md-column {
        flex-direction: column;
    }

    .align-md-center {
        align-items: center;
    }

    .d-none-lg {
        display: none;
    }
}

@media only screen and(max-width: 767px) {
    .mobile-space-between {
        justify-content: space-between;
    }

    .mw-100 {
        width: 100%;
    }

    .d-none-mobile {
        display: none;
    }

    .align-center-mobile {
        align-items: center;
    }

    .flex-wrap-mobile {
        flex-wrap: wrap;
    }

    .flex-column-mobile {
        flex-direction: column;
    }
}

//
// Margin & Padding classes
//  _____________________________________________

.mt-5 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-0 {
    margin-top: 0;
}

.mr-5 {
    margin-right: 3rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.pt-4 {
    padding-top: 1.5rem;
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-4 {
    padding-bottom: 1.5rem;
}

.pl-4 {
    padding-left: 1.5rem;
}

.pl-3 {
    padding-left: 1rem;
}

.pl-0 {
    padding-left: 0;
}

.pt-3 {
    padding-top: 1rem;
}

.pr-5 {
    padding-right: 3rem;
}

.pr-3 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pb-5 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 1.5rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.p-4 {
    padding: 1.5rem;
}

@media only screen and(min-width: 768px) {
    .pl-md-5 {
        padding-left: 3rem;
    }

    .mt-md-5 {
        margin-top: 3rem;
    }

    .mb-md-5 {
        margin-bottom: 3rem;
    }

    .mb-md-0 {
        margin-bottom: 0;
    }

    .pl-md-4 {
        padding-left: 1.5rem;
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common =true) {
    #js-flowbox-feed {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        width: auto;
    }
    
    .fieldset > .field > .label, .fieldset > .fields > .field > .label, .fieldset > .legend {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
}




//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .block-products-list {
        .block-content {
            margin-right: -20px;
            margin-left: -20px;

            .products-grid .product-item {

                .tocart {
                    width: 100%;
                }
            }
        }
    }

  #page-title-heading {
    color: #000000;
    font-family: @font-family__sans-serif;
    font-size: 13px;
    letter-spacing: 0.57px;
    line-height: 26px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
  }

  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .footer.content,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {

    // .header.content {
    //     padding: 2rem 1.6rem;

    //     .nav-sections {
    //         margin: 0;
    //         position: relative;
    //         top: 4px;
    //         margin-left: 16px;

    //         .navigation .level0 > .level-top {
    //             font-size: 1.9rem;
    //         }
    //     }

    //     .logo {
    //         margin: 0;
    //     }
    // }

    .login-container {
        .fieldset {
            >.field {
                >.control {
                    width: 100%;
                }
            }
        }
    }

    .fieldset {
        >.field {
            >.label {
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .page-title-wrapper .page-title {
    margin-bottom: 3rem;
    margin-top: 5rem;
  }
}

@media (max-width: 767px) {

}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.page-main {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  padding-left: @indent__base;
  padding-right: @indent__base;
}

.cms-home #maincontent {
    max-width: none;
}

.cms-home .wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page-layout-2columns-left .column.main {
    width: 100%;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
}


.columns .sidebar-main {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

.columns .column.main {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

@import '_banners.less';
@import '_catalog.less';
@import '_checkout.less';
@import '_custom-gallery.less';
@import '_footer.less';
@import '_navigation.less';
@import '_sc-icons.less';//
//  General
//  _____________________________________________

* {
    box-sizing: border-box;
}

//
// Fonts
//  _____________________________________________

.lib-font-face(
    @family-name:'Beausite Classic',
    @font-path: '@{baseDir}fonts/BeausiteClassicWeb-Light',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name:'Beausite Slick',
    @font-path: '@{baseDir}fonts/BeausiteSlickWeb-Light',
    @font-weight: 300,
    @font-style: normal
);

.lib-font-face(
    @family-name:'Beausite Slick',
    @font-path: '@{baseDir}fonts/BeausiteSlickWeb-LightItalic',
    @font-weight: 300,
    @font-style: italic
);

//
// Helpers
//  _____________________________________________

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.flex-1 {
    flex: 1;
}

.d-block {
    display: block;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.btn-primary {
    .lib-css(border-color, @scarlet-red);
}

.space-between {
    justify-content: space-between;
}

.border-y {
    border-top: 1px solid #dce0e6;
    border-bottom: 1px solid #dce0e6;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.flex-column {
    flex-direction: column;
}

.d-none {
    display: none;
}

@media only screen and(min-width: 768px) {
    .flex-md-column {
        flex-direction: column;
    }

    .align-md-center {
        align-items: center;
    }

    .d-none-lg {
        display: none;
    }
}

@media only screen and(max-width: 767px) {
    .mobile-space-between {
        justify-content: space-between;
    }

    .mw-100 {
        width: 100%;
    }

    .d-none-mobile {
        display: none;
    }

    .align-center-mobile {
        align-items: center;
    }

    .flex-wrap-mobile {
        flex-wrap: wrap;
    }

    .flex-column-mobile {
        flex-direction: column;
    }
}

//
// Margin & Padding classes
//  _____________________________________________

.mt-5 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-0 {
    margin-top: 0;
}

.mr-5 {
    margin-right: 3rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.pt-4 {
    padding-top: 1.5rem;
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-4 {
    padding-bottom: 1.5rem;
}

.pl-4 {
    padding-left: 1.5rem;
}

.pl-3 {
    padding-left: 1rem;
}

.pl-0 {
    padding-left: 0;
}

.pt-3 {
    padding-top: 1rem;
}

.pr-5 {
    padding-right: 3rem;
}

.pr-3 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pb-5 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 1.5rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.p-4 {
    padding: 1.5rem;
}

@media only screen and(min-width: 768px) {
    .pl-md-5 {
        padding-left: 3rem;
    }

    .mt-md-5 {
        margin-top: 3rem;
    }

    .mb-md-5 {
        margin-bottom: 3rem;
    }

    .mb-md-0 {
        margin-bottom: 0;
    }

    .pl-md-4 {
        padding-left: 1.5rem;
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common =true) {
    #js-flowbox-feed {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        width: auto;
    }

    .fieldset > .field > .label, .fieldset > .fields > .field > .label, .fieldset > .legend {
      text-transform: uppercase;
      letter-spacing: 1px;
    }
}




//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .block-products-list {
        .block-content {
            margin-right: -20px;
            margin-left: -20px;

            .products-grid .product-item {

                .tocart {
                    width: 100%;
                }
            }
        }
    }

  #page-title-heading {
    color: #000000;
    font-family: @font-family__sans-serif;
    font-size: 13px;
    letter-spacing: 0.57px;
    line-height: 26px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
  }

  .navigation,
  .breadcrumbs,
  .page-header .header.panel,
  .footer.content,
  .page-wrapper > .widget,
  .page-wrapper > .page-bottom,
  .block.category.event,
  .top-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {

    // .header.content {
    //     padding: 2rem 1.6rem;

    //     .nav-sections {
    //         margin: 0;
    //         position: relative;
    //         top: 4px;
    //         margin-left: 16px;

    //         .navigation .level0 > .level-top {
    //             font-size: 1.9rem;
    //         }
    //     }

    //     .logo {
    //         margin: 0;
    //     }
    // }

    .login-container {
        .fieldset {
            >.field {
                >.control {
                    width: 100%;
                }
            }
        }
    }

    .fieldset {
        >.field {
            >.label {
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .page-title-wrapper .page-title {
    margin-bottom: 3rem;
    margin-top: 5rem;
  }
}

@media (max-width: 767px) {

}

.page-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.page-main {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  padding-left: @indent__base;
  padding-right: @indent__base;
}

.cms-home #maincontent {
    max-width: none;
}

.cms-home .wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page-layout-2columns-left .column.main {
    width: 100%;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
}

.columns .sidebar-main {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

.columns .column.main {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

@import '_banners.less';
@import '_catalog.less';
@import '_checkout.less';
@import '_custom-gallery.less';
@import '_footer.less';
@import '_navigation.less';
@import '_sc-icons.less';