* {
	-webkit-font-smoothing: antialiased;
}

ul {
	list-style: initial;
	padding-left: 40px;
}

@media only screen and (min-width: 992px) {
	.cms-page-view .page-title-wrapper,
	.cms-page-view .columns {
		margin-left: -20px;
		margin-right: -20px;
	}
}

.page.messages {
	position: fixed;
	bottom: 0;
	z-index: 891;
	width: 100%;
	left: 0;

	@media only screen and (min-width: 768px) {
		top: 107px;
		bottom: initial;
	}

	.message {
		margin: 0;
		padding: 16px;
		font-size: 14px;
		line-height: 1;

		@media only screen and (min-width: 768px) {
			padding: 16px 20px;
		}

		> *:first-child {
			max-width: 1280px;
			margin: 0 auto;
			position: relative;
			padding-left: 24px;

			&:before {
				font-size: 16px;
				top: 50%;
				transform: translateY(-50%);
				margin: -2px 0 0;
				line-height: 1;
				width: auto;
			}
		}
	}
}
