// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Variables
//  _____________________________________________
@active-nav-indent: 54px;
@header__font-size: 2rem;
@header__item-line-height: 2rem;
@header__vertical-padding: 2rem;
@header__indent: 2rem;
@header__item-line-height__s: 1rem;
@header__vertical-padding__s: 1rem; //
//  Common
//  _____________________________________________
& when (@media-common =true) {
  .panel.header {
    .links,
    .switcher {
      display: none;
    }
  }

  .mobile-wrapper {
    display: flex;
  }

  .nav-toggle {
    .lib-icon-font(
            @icon-menu-search,
      @_icon-font-size: 24px,
      @_icon-font-margin: 6px,
      @_icon-font-line-height: 22px,
      @_icon-font-color: @header-icons-color,
      @_icon-font-color-hover: @header-icons-color-hover
    );
    .lib-icon-text-hide();
    cursor: pointer;
    display: block;

    .nav-open & {
      &:before {
        content: @icon-close-thin;
      }
    }
  }

  .search-toggler {
    .lib-icon-font(
            @icon-search,
      @_icon-font-size: 18px,
      @_icon-font-margin: 11px,
      @_icon-font-line-height: 22px,
      @_icon-font-text-hide: true,
      @_icon-font-color: @color-black,
      @_icon-font-color-hover: @color-black,
      @_icon-font-color-active: @color-black
    );

    .searching & {
      &:before {
        content: @icon-close;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .country-dropdown {
    .lib-dropdown(
      @_dropdown-toggle-icon-content: false,
      @_dropdown-toggle-active-icon-content: false,
      @_icon-font-line-height: 2rem
    );

    .action {
      display: inline-block;
      color: #000;
      padding: 1.5rem;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 2rem;
      padding: 2rem 0;
    }
  }

  .page-wrapper {
    overflow: hidden;
    &.active {
      &::after {
        content: '';
        top: 63px;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
      }
    }
  }

  .page-header {
    z-index: 892;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
  }

  .close-nav {
    display: none;
    z-index: 999;
  }

  .header-wrap {
    display: flex;

    .nav-sections,
    ul {
      margin-bottom: 0;
    }

    .main-list {
      a {
        color: #000;
        .lib-css(font-family, @font-family__serif);
        color: #000;
        font-size: @header__font-size;
        line-height: @header__item-line-height;
        padding: @header__vertical-padding 0.8rem;
        display: inline-block;

        &:hover {
          text-decoration: none;
        }

        &.active {
          &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #000;
            position: absolute;
            left: 0;
            bottom: 20px;
            display: block;
            @media only screen and(max-width: 767px) {
              bottom: 13px;
            }
          }
        }
      }
    }

    .main-list ul {
      display: none;
    }
  }

  .bottom-list {
    list-style: none;

    li {
      display: inline-block;
      margin: 0;
      a {
        padding: 0 20px;
        font-weight: 600;
      }
    }
  }

  .field.search .control {
    position: relative;

    input {
      background-color: #f7f7f7;
    }

    button.action.search {
      padding: 0;
      background: transparent;
      border: none;
      text-align: center;
      position: absolute;
      top: 0;
      right: 18px;

      &:after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 16px;
        line-height: 53px;
        color: #000;
        content: @icon-search;
        font-family: 'sc-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
      }
    }

    input:focus {
      .lib-css(outline, none);
      .lib-css(box-shadow, none);
    }
  }
}

//
//  Mobile
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
  .page-wrapper {
    padding-top: 61px;
    .customer-account-login &,
    .customer-account-create & {
      padding-top: calc(61px + 24px);
    }
  }

  .search-toggler {
    display: none;
  }

  /*  .catalog-product-view {
      .page-wrapper {
        padding-top: 8px;
      }
      .page-header {
        background-color: transparent;
        border-bottom-color: transparent;
        box-shadow: none;
        @headerTransition: border 350ms ease-out, background-color 350ms ease-out, box-shadow 350ms ease-out;
        .lib-css(transition, @headerTransition, 1);

        &.fill {
          background-color: rgba(255, 255, 255, 0.75);
          -webkit-backdrop-filter: blur(8px);
          border-bottom: 1px solid #fff;
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
        }
      }
    }*/

  .nav-before-open {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
  }

  .nav-before-open body {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  #search_mini_form {
    padding: 18px;
    border-bottom: 1px solid #f0f0f0;
  }

  .mobile-wrapper {
    position: fixed;
    left: -100%;
    right: 0;
    bottom: 0;
    background: #fff;
    top: 60px;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #F0F0F0;
    .lib-css(transition, left 350ms ease-out, 1);

    .navigation {
      width: 47%;
      border-right: 1px solid #ececec;
      height: 100%;
      padding: 0;

      > ul {
        font-family: @font-family__serif;
        font-size: 1.6rem;
      }

    }

    .bottom-list {
      width: 47%;
      border-right: 1px solid #ececec;
      border-top: 1px solid #ececec;
      padding: 0;
      margin: 0;

      li {
        width: 100%;
      }
    }

    .nav-before-open & {
      left: 0%;
    }
  }

  .navigation {
    > .ui-menu > .ui-menu-item > .ui-menu {
      position: absolute;
      float: right;
    }

    .ui-menu-item {
      margin: 0;
      padding: 0;
    }

    #ui-id-1 > .ui-menu-item > a {
      font-size: 18px;
    }

    .ui-menu-item a,
    .ui-menu-column > span {
      line-height: 25px;
      display: block;
      font-size: 14px;
      font-family: @font-family__sans-serif;
      font-weight: 300;
      padding: 2rem;
    }

    .ui-menu-item a.acive {
      text-decoration: underline;
    }
  }
  .lib-main-navigation();

  .main-list-wrap {
    width: 40%;
    border-right: 1px solid #ececec;
    padding-top: 1rem;
  }



  .sections.nav-sections {
    overflow: initial;
    position: initial;
    width: auto;

    .close-nav {
      display: block;
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }

  .header-wrap {
    .sections.nav-sections {
      overflow: initial;
      position: initial;
      width: auto;

      .close-nav {
        display: block;
        position: absolute;
        top: 1rem;
        left: 1rem;
      }
    }
  }

  .header.links {
    display: block;
    padding-left: 0;
    list-style: none;
    border-top: 1px solid #ececec;
    padding-top: 1.5rem;
  }

  .search-toggler {
    position: relative;
  }

  .mobile-menu {
    display: flex;
    position: fixed;
    top: 65px;
    left: -100%;
    right: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
    .lib-css(transition, left 350ms ease-out, 1);

    .nav-before-open & {
      left: 0%;
    }

    .mobile-menu-inner {
      width: 50%;
      border-right: 1px solid #ececec;
      display: flex;
      flex-direction: column;
    }

    .bottom-list {
      border-top: 1px solid #ececec;
      .country-dropdown {
        margin-right: @header__item-line-height__s;
        width: 100%;
        padding: 0 20px;

        .action {
          line-height: @header__item-line-height__s;
          padding: @header__vertical-padding__s;
        }
      }
    }
  }

  .bottom-list li a,
  .country-dropdown .action.toggle {
    padding: 20px;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    width: 100%;
  }

  .ui-menu-column {
    margin-bottom: 2rem;
  }
}

//
//  Desktop
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
  .nav-toggle {
    display: none;
  }

  .page-wrapper {
    padding-top: 78px;
  }

  .search-toggler {
    display: inline-block;
  }

  .mobile-wrapper {
    width: 100%;
    position: relative;
  }

  .navigation {
    width: auto !important;
    transform: translateX(0%);
    opacity: 1;

    > ul {
      display: none;
    }

    > .ui-menu > .ui-menu-item {
      display: inline-block;
      margin: 0;
    }
    .ui-menu {
      .ui-menu-item {
        a {
          padding: 26px 0 23px;
          font-family: Beausite Slick;
          font-size: 2rem;
          display: inline-block;
          margin: 0 8px;
        }

        .ui-menu {
          position: absolute;
          width: 100vw;
          background: #fff;
        }
      }
    }
  }

  .nav-open .page-header:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
  }

  #search_mini_form {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    background: #fff;
    transition: 250ms ease-out;
    display: none;
    opacity: 0;

    .before-searching & {
      display: flex;
    }

    .searching & {
      opacity: 1;
    }

    .field.search .control {
      background: #f0f0f0;

      input {
        background: transparent;
        border: none;
        caret-color: black;
      }
    }
  }

  .country-dropdown .action {
    padding: 29px 0 28px;
  }

  .lib-main-navigation-desktop();

  .panel.header {
    .links,
    .switcher {
      display: inline-block;
    }
  }
  .main-list {
    .ui-menu-item-inner a {
      padding: 0.5rem 0px;
    }
  }

  .ui-menu-item-inner {
    display: flex;
    padding-top: 1rem;
  }

  .bottom-list {
    margin: 0 20px 0 auto;
  }

  .navigation .ui-menu .ui-menu-item .ui-menu a,
  .navigation .ui-menu .ui-menu-item .ui-menu span {
    font-size: 1.6rem;
    font-family: @font-family__serif;
    padding: 1.25rem 0;
    margin: 0 8px;
  }

  .ui-menu-column {
    display: flex;
    flex-direction: column;
    margin-right: 42px;
  }

  .ui-menu-inner {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .bottom-list {
    display: none;
  }
}
