// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Common
//  _____________________________________________
& when (@media-common =true) {
  .pages {
    .lib-pager();

    .items {
      border: 1px solid #eee;
      border-radius: 16px;
    }

    .item:not(:last-of-type) {
      border-right: 1px solid #eee;
    }

    .item.current {
      background: #eee;

      &:first-of-type {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
      }

      &:last-of-type {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
      }

      span {
        color: #777;
      }
    }

    // .item.current span {
    //     border-bottom: 2px solid @color-black;
    // }

    // .action {
    //     &.previous {
    //         margin-right: 16px;
    //     }

    //     &.next {
    //         margin-left: 16px;
    //     }
    // }
  }

  div.message.global.cookie {
    border-top: 1px solid #4d0017;
    background: #fff;

    .content {
      text-align: center;

      p {
        width: 75%;
        font-size: 1.5rem;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        line-height: 1.3rem;

      }

      div.actions {
        text-align: left;
        width: 25%;
        display: inline;
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  div.message.global.cookie {
    .content {
      p {
        width: 100%;
        margin-bottom: 1rem;
        display: block;
      }

      div.actions {
        width: 100%;
        display: block;
        text-align: center;
      }
    }
  }
}
