.lib-font-face(
  @family-name: @icomoon-font-family,
  @font-path: '@{icomoon-font-path}/@{icomoon-font-family}',
  @font-weight: normal,
  @font-style: normal
);

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '@{icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-ol {
  &:before {
    content: @icon-alert-ol; 
  }
}
.icon-alert {
  &:before {
    content: @icon-alert; 
  }
}
.icon-arrow-down {
  &:before {
    content: @icon-arrow-down; 
  }
}
.icon-arrow-head-down {
  &:before {
    content: @icon-arrow-head-down; 
  }
}
.icon-arrow-head-left {
  &:before {
    content: @icon-arrow-head-left; 
  }
}
.icon-arrow-head-right {
  &:before {
    content: @icon-arrow-head-right; 
  }
}
.icon-arrow-head-up {
  &:before {
    content: @icon-arrow-head-up; 
  }
}
.icon-arrow-left {
  &:before {
    content: @icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: @icon-arrow-right; 
  }
}
.icon-arrow-up {
  &:before {
    content: @icon-arrow-up; 
  }
}
.icon-arrows-up--down {
  &:before {
    content: @icon-arrows-up--down; 
  }
}
.icon-bag {
  &:before {
    content: @icon-bag; 
  }
}
.icon-check {
  &:before {
    content: @icon-check; 
  }
}
.icon-close {
  &:before {
    content: @icon-close; 
  }
}
.icon-drop {
  &:before {
    content: @icon-drop; 
  }
}
.icon-facebook {
  &:before {
    content: @icon-facebook; 
  }
}
.icon-grid {
  &:before {
    content: @icon-grid; 
  }
}
.icon-heart-ol {
  &:before {
    content: @icon-heart-ol; 
  }
}
.icon-heart {
  &:before {
    content: @icon-heart; 
  }
}
.icon-instagram {
  &:before {
    content: @icon-instagram; 
  }
}
.icon-lock-ol {
  &:before {
    content: @icon-lock-ol; 
  }
}
.icon-lock {
  &:before {
    content: @icon-lock; 
  }
}
.icon-menu {
  &:before {
    content: @icon-menu; 
  }
}
.icon-minus {
  &:before {
    content: @icon-minus; 
  }
}
.icon-pads {
  &:before {
    content: @icon-pads; 
  }
}
.icon-pagination-active {
  &:before {
    content: @icon-pagination-active; 
  }
}
.icon-pagination {
  &:before {
    content: @icon-pagination; 
  }
}
.icon-pinterest {
  &:before {
    content: @icon-pinterest; 
  }
}
.icon-plus {
  &:before {
    content: @icon-plus; 
  }
}
.icon-question-ol {
  &:before {
    content: @icon-question-ol; 
  }
}
.icon-question {
  &:before {
    content: @icon-question; 
  }
}
.icon-radiobutton-off {
  &:before {
    content: @icon-radiobutton-off; 
  }
}
.icon-radiobutton-on {
  &:before {
    content: @icon-radiobutton-on; 
  }
}
.icon-search {
  &:before {
    content: @icon-search; 
  }
}
.icon-sigill {
  &:before {
    content: @icon-sigill; 
  }
}
.icon-speech-bubble-right {
  &:before {
    content: @icon-speech-bubble-right; 
  }
}
.icon-speech-bubble {
  &:before {
    content: @icon-speech-bubble; 
  }
}
.icon-star-ol {
  &:before {
    content: @icon-star-ol; 
  }
}
.icon-star {
  &:before {
    content: @icon-star; 
  }
}
.icon-sun {
  &:before {
    content: @icon-sun; 
  }
}
.icon-unlock-ol {
  &:before {
    content: @icon-unlock-ol; 
  }
}
.icon-unlock {
  &:before {
    content: @icon-unlock; 
  }
}
.icon-voucher-ol {
  &:before {
    content: @icon-voucher-ol; 
  }
}
.icon-voucher {
  &:before {
    content: @icon-voucher; 
  }
}
.icon-youtube {
  &:before {
    content: @icon-youtube; 
  }
}

