//
//  Grand Combin Variables
//  _____________________________________________
@scarlet-red: #470018;

//
//  icomoon
//  _____________________________________________

@icon__margin: 8px;
@icon-font__size: 16px;

@icon-star: "\e936";
@icomoon-font-family: 'sc-icons';
@icomoon-font-path: '../fonts';
@icon-arrow-thin-head-up: "\e900";
@icon-arrow-thin-head-right: "\e901";
@icon-arrow-thin-head-left: "\e902";
@icon-arrow-thin-head-down: "\e903";
@icon-alert-ol: "\e904";
@icon-alert: "\e905";
@icon-arrow-down: "\e906";
@icon-arrow-head-down: "\e907";
@icon-arrow-head-left: "\e908";
@icon-arrow-head-right: "\e909";
@icon-arrow-head-up: "\e90a";
@icon-arrow-left: "\e90b";
@icon-arrow-right: "\e90c";
@icon-arrow-thin-down: "\e90d";
@icon-arrow-thin-left: "\e90e";
@icon-arrow-thin-right: "\e90f";
@icon-arrow-thin-up: "\e910";
@icon-arrow-up: "\e911";
@icon-arrows-up--down: "\e912";
@icon-bag: "\e913";
@icon-check: "\e914";
@icon-close-thin: "\e915";
@icon-close: "\e916";
@icon-drop: "\e917";
@icon-facebook: "\e918";
@icon-grid: "\e919";
@icon-heart-ol: "\e91a";
@icon-heart: "\e91b";
@icon-instagram: "\e91c";
@icon-lock-ol: "\e91d";
@icon-lock: "\e91e";
@icon-menu-search: "\e91f";
@icon-menu: "\e920";
@icon-minus: "\e921";
@icon-pads: "\e922";
@icon-pagination-active: "\e923";
@icon-pagination: "\e924";
@icon-pinterest: "\e925";
@icon-plus: "\e926";
@icon-question-ol: "\e927";
@icon-question: "\e928";
@icon-radiobutton-off: "\e929";
@icon-radiobutton-on: "\e92a";
@icon-search: "\e92b";
@icon-sigill: "\e92c";
@icon-speech-bubble-right: "\e92d";
@icon-speech-bubble: "\e92e";
@icon-star-ol: "\e92f";
@icon-sun: "\e930";
@icon-unlock-ol: "\e931";
@icon-unlock: "\e932";
@icon-voucher-ol: "\e933";
@icon-voucher: "\e934";
@icon-youtube: "\e935";
@icon-wishlist-full: @icon-heart;
@icon-wishlist-empty: @icon-heart;
@icon-warning: @icon-alert;
@icon-pointer-down: @icon-arrow-head-down;
@icon-next: @icon-arrow-head-right;
@icon-comment-reflected: @icon-speech-bubble-right;
@icon-collapse: @icon-plus;
@icon-checkmark: @icon-check;
@icon-cart: @icon-bag;
@icon-remove: @icon-close;
@icon-prev: @icon-arrow-head-left;
@icon-pointer-up: @icon-arrow-head-up;
@icon-pointer-right: @icon-arrow-head-right;
@icon-pointer-left: @icon-arrow-head-left;
@icon-expand: @icon-arrow-head-down;
@icon-comment: @icon-speech-bubble;
@icon-up: @icon-arrow-head-up;
@icon-down: @icon-arrow-head-down;
@icon-arrow-up-thin: @icon-arrow-up;
@icon-arrow-right-thin: @icon-arrow-right;
@icon-arrow-left-thin: @icon-arrow-left;
@icon-arrow-down-thin: @icon-arrow-down;
@icon-trash: @icon-close;
@checkout-tooltip-icon__content: @icon-alert;

/*@icon-update: '\e603';
@icon-trash: '\e604';
@icon-settings: '\e606';
@icon-location: '\e60a';
@icon-list: '\e60b';
@icon-flag: '\e61b';
@icon-envelope: '\e61d';
@icon-compare-full: '\e61e';
@icon-compare-empty: '\e61f';*/

@rating-icon__content: @icon-star;
@rating-icon__font: @icomoon-font-family;
@rating-icon__font-size: 16px;
@rating-icon__letter-spacing: 2px;
@rating-icon__color: @scarlet-red;
@rating-icon__active__color: @scarlet-red;
//@rating-label__hide: ;

//
//  Border
//  _____________________________________________
@border-color__base: #e3e3e3;

//
//  Color
//  _____________________________________________
@text__color: @color-black;
@text__color__muted: #777;

@color-green: #789774;
@color-scarlet-red: #470018;
@color-orange-red1: @color-scarlet-red;

// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */
//
//  Layout variables
//  _____________________________________________
//  Widths
@layout-indent__width: 16px;
@layout__width-xs-indent: 8px;

//
//  Links
//  _____________________________________________
@link__color: @scarlet-red;
@link-color-hover: @link__color;
@link__visited__color: @link__color;
@link__hover__color: @link__color;
@link__active__color: @link__color;
@link__text-decoration: none;
@link__hover__text-decoration: none;
@link__active__text-decoration: none;

//
//  Messages
//  _____________________________________________
@message__padding: 12px;
@message-icon__font-line-height: 18px;
@message-icon__font-size: 16px;

//
//  Accordion
//  _____________________________________________

@accordion-control__border-top: false;
@accordion-control__border-right: false;
@accordion-control__border-bottom: false;
@accordion-control__border-left: false;

//
//  Pager
//  _____________________________________________

@pager__font-size: 18px;
@pager__line-height: 22px;
@pager-icon__font-size: 16px;
@pager-icon__font-line-height: 21px;
@pager-item__padding: 8px 16px;
@pager-action__border: false;
@pager-actions__padding: 8px;
@pager-item__margin: 0px;
@pager-icon__font-margin: 0px 2px;

//
//  Tabs
//  _____________________________________________

@tab-content__border: false;
@tab-content__padding-left: 16px;
@tab-content__padding-right: 16px;
@tab-content__padding-top: 8px;
@tab-content__padding-top: 8px;
@tab-control__color: @color-black;
@tab-control__background-color: @color-white;

//
//  Navigation
//  _____________________________________________

@navigation-desktop-level0-item__active__background: false;
@navigation-desktop-level0-item__active__border-color: false;
@navigation-desktop-level0-item__active__border-style: false;
@navigation-desktop-level0-item__active__border-width: false;
@navigation-desktop-level0-item__active__color: false;
@navigation-desktop-level0-item__active__text-decoration: underline;
@navigation-desktop-level0-item__background: false;
@navigation-desktop-level0-item__border: false;
@navigation-desktop-level0-item__color: false;
@navigation-desktop-level0-item__hover__background: false;
@navigation-desktop-level0-item__hover__border: false;
@navigation-desktop-level0-item__hover__color: false;
@navigation-desktop-level0-item__hover__text-decoration: underline;
@navigation-desktop-level0-item__line-height: 28px;
@navigation-desktop-level0-item__line-height: 2rem;
@navigation-desktop-level0-item__margin: 0;
@navigation-desktop-level0-item__padding: 2rem 0;
@navigation-desktop-level0-item__text-decoration: false;
@navigation-desktop__background: false;
@navigation-desktop__border: false;
@navigation-desktop__font-size: false;
@navigation-desktop__font-weight: false;
@navigation-level0-item__active__background: transparent;
@navigation-level0-item__active__border-color: false;
@navigation-level0-item__active__border-style: false;
@navigation-level0-item__active__border-width: false;
@navigation-level0-item__active__color: #000;
@navigation-level0-item__active__text-decoration: underline;
@navigation-level0-item__background: transparent;
@navigation-level0-item__border: false;
@navigation-level0-item__color: @color-black;
@navigation-level0-item__font-size: 2rem;
@navigation-level0-item__font-weight: normal;
@navigation-level0-item__line-height: 2rem;
@navigation-level0-item__margin: 0;
@navigation-level0-item__padding: 2rem 0;
@navigation-level0-item__text-decoration: false;
@navigation-level0-item__text-transform: false;
@navigation-level0-item__text-transform: false;
@navigation__background: @color-white;
@navigation__border: false;
@submenu-desktop-arrow: false;
@submenu-desktop-arrow__left: false;
@submenu-desktop-arrow__size: false;
@submenu-desktop-item__active__background: false;
@submenu-desktop-item__active__border-color: false;
@submenu-desktop-item__active__border-style: false;
@submenu-desktop-item__active__border-width: false;
@submenu-desktop-item__active__color: false;
@submenu-desktop-item__active__text-decoratio: false;
@submenu-desktop-item__background: false;
@submenu-desktop-item__border: false;
@submenu-desktop-item__color: false;
@submenu-desktop-item__hover__background: false;
@submenu-desktop-item__hover__border: false;
@submenu-desktop-item__hover__color: false;
@submenu-desktop-item__hover__text-decoration: false;
@submenu-desktop-item__padding: false;
@submenu-desktop-item__text-decoration: false;
@submenu-desktop__background: false;
@submenu-desktop__border-color: false;
@submenu-desktop__border-style: false;
@submenu-desktop__border-width: false;
@submenu-desktop__box-shadow: false;
@submenu-desktop__font-size: false;
@submenu-desktop__font-weight: false;
@submenu-desktop__min-width: false;
@submenu-desktop__padding: false;
@submenu-item__active__background: transparent;
@submenu-item__active__border-color: false;
@submenu-item__active__border-style: false;
@submenu-item__active__border-width: false;
@submenu-item__active__color: #000;
@submenu-item__active__text-decoration: false;
@submenu-item__background: transparent;
@submenu-item__border: false;
@submenu-item__color: false;
@submenu-item__line-height: 2rem;
@submenu-item__text-decoration: false;
@submenu__background: transparent;
@submenu__border: false;
@submenu__font-size: 1.6rem;
@submenu__font-weight: normal;
@submenu__padding-bottom: false;
@submenu__padding-left: false;
@submenu__padding-right: false;
@submenu__padding-top: 2rem;

//
//  Forms
//  _____________________________________________
@form-element-input-type__border-radius: false;
@form-element-input__font-weight: 300;
// @form-field-label-asterisk__color:;
// @form-field-label-asterisk__font-family:;
// @form-field-label-asterisk__font-size:;
// @form-field-label-asterisk__font-style:;
// @form-field-label-asterisk__font-weight:;
// @form-field-label-asterisk__line-height:;
// @form-field-label-asterisk__margin:;
@form-field-label__align: left;
@form-field-label__color: @color-black;
@form-field-label__font-family: @font-family__sans-serif;
@form-field-label__font-size: 12px;
@form-field-label__font-weight: 600;
@form-field-label__line-height:16px;
@form-field-type-control-inline__width: 100%;
@form-field-type-label-inline__align: left;
@form-field-type-label-inline__padding: 0 0 4px;
@form-field-type-label-inline__width: false;
@form-field-type: block;
@form-field__vertical-indent__desktop: 24px;

@form-validation-note-icon__use: false;
@form-field-note-icon-font__content: false;

@input-text__background: @color-white;
@input-text__border-radius: false;
@input-text__border: 1px solid #ebebeb;
@input-text__font-weight: initial;
@input-text__line-height: initial;
@input-text__padding: 16px;
@input-text__height: auto;
@input-text__margin: false;

@form-fieldsetmargin: false;
@form-field-type-block__margin: 0 0 16px;
@form-field-type-inline__margin: 0 0 16px;

@form-fieldset-legend__color: @color-black;
@form-fieldset-legend__font-size: 12px;
@form-fieldset-legend__font-family:@font-family__sans-serif;
@form-fieldset-legend__font-weight: 600;
@form-fieldset-legend__line-height:16px;
@form-fieldset-legend__margin: 0 0 22px 0;
@form-fieldset-legend__padding: 0px;

//@input-text-placeholder__color: ;
//@input-text-placeholder__font-style: ;
//@input-text__background-clip: ;
//@input-text__color: ;
//@input-text__disabled__background: ;
//@input-text__disabled__border: ;
//@input-text__disabled__color: ;
//@input-text__disabled__font-style: ;
//@input-text__disabled__opacity: ;
//@input-text__focus__background: ;
//@input-text__focus__border: ;
//@input-text__focus__color: ;
//@input-text__focus__font-style}: ;
//@input-text__font-family: ;
//@input-text__font-size: ;
//@input-text__font-style: ;
//@input-text__margin: ;
//@input-text__vertical-align: ;
//@input-text__width: ;

//
//  Header
//  _____________________________________________
@header__background-color: false;
@header-icons-color: @color-black;
@header-icons-color-hover: @color-black;

@addto-color: @color-black;
@addto-hover-color: @color-black;

//
//  Icons
//  _____________________________________________
@icon-font__color: @color-black;
@icon-font: @icomoon-font-family;

//
//  Minicart
//  _____________________________________________
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;
@minicart__padding-horizontal: 0px;
@minicart__border-color: #eee;

//
//  Typography
//  _____________________________________________
// Font Settings
//  Font families

@font-family__sans-serif: 'Beausite Classic', 'Helvetica Neue', Arial,
  sans-serif;

@font-family__serif: 'Beausite Slick', 'Times New Roman', Times, serif;
@font-family__base: @font-family__sans-serif;
@font-family-name__base: 'Beausite Classic';

@font-size__xl: ceil(1.7142857143 * @font-size__base); // 24px
@font-size__l: ceil(1.25 * @font-size__base); // 18px
@font-size__s: ceil(0.85 * @font-size__base); // 12px
@font-size__xs: floor(0.75 * @font-size__base); // 11px

//
//  Indents
//  ---------------------------------------------
//
// @indent__base: @line-height__computed; //  24px
// @indent__xl: @indent__base * 2; //  48px
// @indent__l: @indent__base * 1.5; //  36px
// @indent__m: @indent__base * 1.25; //  30px
// @indent__s: @indent__base / 2; //  12px
// @indent__xs: @indent__base / 4; //  6px
//
//  Headings
//  ---------------------------------------------
@heading__font-family__base: @font-family__serif;
@heading__font-weight__base: @font-weight__light;
@heading__line-height__base: 1;

@h1__font-size: ceil((@font-size__base * 1.714)); // 24px
@h1__line-height: 1.2;
@h1__font-size-desktop: ceil((@font-size__base * 2.85)); // 40px
@h1__margin-bottom: 24px;

@h2__font-size: ceil((@font-size__base * 1.714)); // 24px

//@h3__font-size: ceil((@font-size__base * 1.28)); // 18px
//
//@h4__font-size: @font-size__base; // 14px
//
//@h5__font-size: ceil((@font-size__base * .85)); // 12px
//
//@h6__font-size: ceil((@font-size__base * .7)); // 10px
//
@heading__small-color: @color-black;

//
//  Footer
//  _____________________________________________
@footer__background-color: false;
@footer-links-separator-border-color: @color-white;
@footer-links-color: @color-white;
@footer-links-color-hover: @color-white;
@footer-links-color-current: @color-white;

//
//  Modal
//  _____________________________________________

@modal-popup__indent-vertical: 7rem;
@modal-action-close__font-size: 2.2rem;

//
//  Buttons variables
//  _____________________________________________
@button__font-family: @font-family__sans-serif;
@button__font-weight: @font-weight__semibold;
@button__font-size: @font-size__base;
@button__font-size__l: @font-size__base;
@button__padding: 16px 32px 17px; // is set up to false when buttons don't depend on side paddings or have fixed width
@button__width: false; // is set up to false when buttons depend on side paddings or to fixed value when needed
@button__border: none;
@button-primary__border: none;

//  Display settings
@button__border-radius: none;
@button__shadow: false;

//  Default = secondary button
@button__color: @color-white;
@button__background: @scarlet-red;
@button__border: none;

@button__hover__color: @color-black;
@button__hover__background: false;
@button__hover__border: none;

@button-primary__font-weight: @font-weight__semibold;
@button-primary__background: @scarlet-red;
@button-primary__border: none;
@button-primary__color: @color-white;

@button-primary__hover__background: false;
@button-primary__hover__border: none;
@button-primary__hover__color: false;

@button-primary__active__background: false;
@button-primary__active__border: none;
@button-primary__active__color: false;
@button-primary__hover__color: @color-white;
