//
//  Amasty Search Pro
//  ____________________________________________

//
//  Variables
//  _____________________________________________

@amxsearch-autocomplete-border: none;
@amxsearch-autocomplete__border-top: none;
@amxsearch-autocomplete__background: #e8e8e8;

//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
  .amsearch-results {
    & {
      padding-bottom: 5px;
      .lib-css(border-top, @amxsearch-autocomplete__border-top);
      background: #fff;
    }

    .amsearch-item {
      padding: 10px;
      display: flex;
      text-transform: capitalize;
      cursor: pointer;
    }

    .amsearch-item:hover {
      .lib-css(background, @amxsearch-autocomplete__background);
    }

    .amsearch-item .item-name {
      color: #000;
      white-space: nowrap;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .amsearch-products {
      padding-bottom: 10px;
    }
  }

  .amsearch-leftside .amsearch-item {
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
  }

  .amasty-xsearch-autocomplete .product-item-name {
    margin: 0;
  }

  .amasty-xsearch-autocomplete-image {
    display: inline-block;
    width: 150px;
  }

  .amasty-xsearch-autocomplete-information {
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
  }

  .amasty-xsearch-loader {
    background-image: url('@{baseDir}/../Amasty_Xsearch/images/loader.gif');
    background-repeat: no-repeat;
    height: 11px;
    width: 16px;
    margin-right: 5px;
    right: 36px;
    top: 40px;
    position: absolute;
  }

  .amasty-message.message.info {
    margin: 0;
  }

  .search-autocomplete {
    background: #fff;
    margin-top: 19px !important;
    word-break: break-all;
    max-height: 90vh;
    overflow-y: auto;
  }

  .amasty-xsearch-num-results {
    width: 10%;
    text-align: center;
  }

  .search-autocomplete .amsearch-results .amasty-more-results {
    text-align: center;
    padding: 15px;
    clear: both;
  }

  .amasty-xsearch-highlight {
    font-weight: bold;
  }

  .block-search .action.search.amasty-xsearch-hide,
  .amasty-xsearch-hide {
    display: none;
  }

  .amasty-xsearch-block-header {
    font-weight: bold;
    padding: 10px 0;
    color: #848484;
    text-transform: uppercase;
    font-size: 13px;
  }

  .amasty-xsearch-preload {
    display: none;
  }

  .search-autocomplete .amsearch-results div:not([data-click-url]) {
    cursor: default;
    background: none;
  }

  .amasty-xsearch-highlight {
    padding: 0 2px;
  }

  .amsearch-category-tab .amsearch-item {
    & {
      margin-bottom: 10px;
      font-size: 1.6rem;
    }

    .am-item-link:not(:last-of-type):after {
      display: inline-block;
      margin: 0 10px;
      vertical-align: middle;
      text-align: center;
      font-size: 1rem;
      line-height: 1rem;
      color: #a3a3a3;
      content: '\e608';
      font-family: 'luma-icons';
    }
  }

  .block.block-search,
  .form .search-autocomplete {
    z-index: 999;
  }

  @media only screen and (max-width: 767px) {
    .amsearch-leftside,
    .amsearch-products {
      width: 100% !important;
    }

    .form .search-autocomplete {
      left: 0;
      height: calc(~"100% - 90px");
      overflow-y: auto;
    }
  }

  .amsearch-item .product-item-description,
  .amsearch-item .item-description,
  .amsearch-item .product-item-name {
    word-break: keep-all;
  }

  .amsearch-clone-position {
    position: absolute;
    right: 0;
    z-index: 999;
  }

  #amsearch-result-tabs {
    & {
      margin-top: 5px;
    }

    .data.title {
      & {
        margin-right: 5px;
      }

      &.active {
        background: #d8d8d8;
      }

      &.last {
        border-bottom: 1px solid #ccc;
        margin-bottom: 8px;
      }
    }

    .title.active .amsearch-results-count {
      display: none;
    }

    .data.content {
      display: none;
    }

    .data.content[aria-hidden="false"] {
      display: block;
    }

  }
}

//
//  Tablet
//  --------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .amsearch-results {
    & {
      .lib-vendor-prefix-display();
      max-width: 88vw;
      overflow: auto;
    }

    .amsearch-products.-columns {
      .lib-css(border-left, @amxsearch-autocomplete-border);
    }

    .amsearch-leftside,
    .amsearch-products {
      width: inherit;
    }
  }
}

//
//  Desktop
//  --------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .amsearch-products.-columns .amsearch-item {
    display: inline-block;
    width: 49%;
  }

  #amsearch-result-tabs {
    .data.title {
      &.active {
        background: none;
      }

      &.last {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }
}
