// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common =true) {
    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            float: left;
            margin: 0 @indent__s;

            .count {
                font-weight: @font-weight__bold;
            }
        }

        .subtotal {
            margin: 0 @indent__s @indent__s;
            text-align: right;

            .label {
                &:extend(.abs-colon all);
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @font-size__l;
                        font-weight: @font-weight__bold;
                    }
                }
            }

            &.price-container {
                display: inline-block;
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 14px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }

        .text {
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            >.actions {
                text-align: center;

                >.primary {
                    margin: 0 @indent__s 15px;

                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            margin-bottom: 15px;
                            width: 100%;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                >.secondary {
                    display: none;
                 }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(@_toggle-selector: ~'.action.showcart',
        @_options-selector: ~'.block-minicart',
        @_dropdown-list-width: 320px,
        @_dropdown-list-position-right: 0px,
        @_dropdown-list-pointer: false,
        @_dropdown-list-border: 1px solid #e3e3e3,
        @_dropdown-list-z-index: 101,
        @_dropdown-toggle-icon-content: @icon-cart,
        @_dropdown-toggle-active-icon-content: @icon-cart,
        @_dropdown-list-item-padding: 10px 0px,
        @_dropdown-list-item-hover: false,
        @_icon-font-position: before,
        @_icon-font-size: 24px,
        @_icon-font-margin: 8px,
        @_icon-font-line-height: 28px,
        @_icon-font-color: @minicart-icons-color,
        @_icon-font-color-hover: @minicart-icons-color-hover,
        @_icon-font-color-active: @minicart-icons-color );

        .block-minicart {
            .lib-css(padding, 25px @minicart__padding-horizontal 0px);

            .block-title {
                display: none;
            }
        }

        .product {
            .actions {
                position: absolute;
                top: 0;
                right: 0;

                >.primary {
                    display: none;
                }

                >.secondary {
                    display: inline;
                }
            }
        }

        .action {
            &.close {
                display: none;
                // .lib-button-icon(@icon-remove,
                // @_icon-font-size: 21px,
                // @_icon-font-line-height: 21px,
                // @_icon-font-margin: 11px,
                // @_icon-font-text-hide: true,
                // @_icon-font-color: @color-black );
                // .lib-button-reset();
                // height: 40px;
                // position: absolute;
                // right: 0;
                // top: 0;
                // width: 40px;
            }

            &.showcart {
                white-space: nowrap;

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                .counter.qty {
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    display: block;
                    position: absolute;

                    .counter-number {
                        .lib-css(color, @color-black);
                        .lib-css(height, @minicart-qty__height);
                        .lib-css(line-height, @minicart-qty__height);
                        background: @color-white;
                        border-radius: 50%;
                        border: 1px solid @color-black;
                        display: inline-block;
                        font-size: 11px;
                        font-weight: 700;
                        height: 17px;
                        line-height: 14px;
                        margin: 0;
                        min-height: 14px;
                        min-width: 14px;
                        overflow: hidden;
                        padding: 0;
                        position: absolute;
                        right: -4px;
                        text-align: center;
                        top: 7px;
                        white-space: normal;
                        width: 17px;
                    }

                    &.empty {
                        display: none;
                    }

                    .loading-mask {
                        right: -4px;
                        top: 5px;
                    }

                    .loader {
                        >img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .minicart-widgets {
            display: none;
        }
    }

    .minicart-items-wrapper {
        .lib-css(border, 1px solid @minicart__border-color);
        .lib-css(margin, 0 -@minicart__padding-horizontal);
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        padding: 15px;
    }

    .minicart-items {
        .lib-list-reset-styles();

        .product-item {

            &:not(:first-child) {
                .lib-css(border-top, 1px solid @minicart__border-color);
            }

            &:first-child {
                padding-top: 0;
            }

            >.product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .label {
                display: inline-block;
                width: 4.5rem;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product {

            >.product-item-photo,
            >.product-image-container {
                float: left;
            }

            .toggle {
                .lib-icon-font(@_icon-font-content: @icon-down,
                @_icon-font-size: 28px,
                @_icon-font-line-height: 16px,
                @_icon-font-text-hide: false,
                @_icon-font-position: after,
                @_icon-font-display: block);
                cursor: pointer;
                position: relative;

                &:after {
                    position: static;
                    right: @indent__base;
                    top: 0;
                }
            }

            &.active {
                >.toggle {
                    .lib-icon-font-symbol(@_icon-font-content: @icon-up,
                    @_icon-font-position: after);
                }
            }
        }

        .product-item-name {
            font-weight: @font-weight__regular;
            margin: 0 0 @indent__s;
            width: 90%;

            a {
                .lib-css(color, @link__color);
            }
        }

        .product-item-details {
            padding-left: 100px;
            position: relative;

            .price {
                font-weight: @font-weight__bold;
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0 0;
            }

            .weee[data-label] {
                .lib-font-size(11);

                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: @indent__s;
            }
        }

        .product.options {
            .tooltip.toggle {
                .lib-icon-font(@icon-down,
                @_icon-font-size: 28px,
                @_icon-font-line-height: 28px,
                @_icon-font-text-hide: true,
                @_icon-font-margin: -3px 0 0 7px,
                @_icon-font-position: after);

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            margin-right: @indent__s;
            text-align: center;
            width: 30px;
            padding: 6px;
        }

        .update-cart-item {
            .lib-font-size(11);
            padding: .7rem;
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {

            &.edit,
            &.delete {
                .lib-icon-font(@icon-settings,
                @_icon-font-size: 16px,
                @_icon-font-line-height: 16px,
                @_icon-font-text-hide: true,
                @_icon-font-color: @color-black,
                @_icon-font-color-hover: @color-black,
                @_icon-font-color-active: @color-black,
                @_icon-font-margin: 8px);
            }

            &.delete {
                .lib-icon-font-symbol(@_icon-font-content: @icon-close);
            }
        }
    }

    
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__xs) {
    .minicart-wrapper {
        .block-minicart {
            width: 290px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .minicart-wrapper {
        margin-left: 13px;

        .block-minicart {
            right: -15px;
            width: 390px;
        }
    }
}