<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
/** @var \Amasty\Faq\Block\Widgets\Categories $block */

/** @var \Amasty\Faq\Api\Data\CategoryInterface $category */

/** @var \Amasty\Faq\Api\Data\QuestionInterface $question */
?>
<?php if ($categories = $block->getCategories()) : ?>
    <ul class="faq-categories list-unstyled">
        <?php foreach ($categories as $category) : ?>
            <li class="faq-category">
                <a href="<?= $block->escapeUrl($block->getCategoryUrl($category)) ?>" class="faq-category-link">
                    <?= $block->escapeHtml($category->getTitle()); ?>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
