// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  ---------------------------------------------

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;


//
//  Common
//  _____________________________________________

& when (@media-common =true) {
    .products {
        .owl-carousel {
            margin: 0;
        }
    }

    .product {
        &-items {
            &:extend(.abs-reset-list all);

            &.owl-carousel {
                width: auto;
            }
        }

        &-item {
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                width: 100%/2;
                width: 100%;
            }

            .tocart {
                white-space: nowrap;
                display: block;
                width: 100%;
                .lib-css(transition, 350ms ease-out, 1);
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin-bottom: @indent__s;
                word-wrap: break-word;
            }

            &-info {
                max-width: 100%;
                width: 152px;

                .page-products & {
                    width: 240px;
                }
            }

            &-actions {
                display: none;

                .actions-secondary {
                    >button.action {
                        .lib-button-reset();
                    }

                    >.action {
                        &:extend(.abs-actions-addto-gridlist all);

                        &:before {
                            margin: 0;
                        }

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }
            }

            &-description {
                margin-bottom: @indent__s 0;
            }

            .product-reviews-summary {
                position: absolute;
                top: 10px;
                right: 10px;

                .rating-summary {
                    margin: 0 4px 0 0;
                    line-height: 2;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                    display: none;
                }
            }

            .price-box {
                margin-bottom: @indent__s;

                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__bold;
                    white-space: nowrap;
                }

                .price-label {
                    font-size: @font-size__s;

                    &:after {
                        content: ':';
                    }
                }
            }

            .special-price,
            .minimal-price {
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__bold;
                }

                .price-wrapper {
                    display: inline-block;
                }

                .price-including-tax+.price-excluding-tax {
                    display: block;
                }
            }

            .special-price {
                display: block;
                float: right;
            }

            .old-price {
                .price {
                    font-weight: @font-weight__regular;
                    margin-right: 5px;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: 5px;

                .price-label {
                    .lib-css(color, @link__color);
                    .lib-font-size(14);
                }

                .price {
                    font-weight: @font-weight__regular;
                }
            }

            .minimal-price-link,
            .price-excluding-tax,
            .price-including-tax {
                display: block;
                white-space: nowrap;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(@icon-compare-empty);
            }
        }
    }

    /*.column.main {
    .product {
      &-items {
        margin-left: -@indent__base;
      }

      &-item {
        padding-left: @indent__base;
      }
    }
  }*/

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax+.price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax+.price-excluding-tax,
        .weee,
        .price-including-tax+.price-excluding-tax .price,
        .weee .price,
        .weee+.price-excluding-tax:before,
        .weee+.price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '('attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            +.price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0 -10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .product-item {
                padding: 0;
                position: relative;
                width: auto;
                flex-basis: 100%;
                margin: 0px 10px;

                +.product-item {
                    margin-top: 30px;
                }
            }

            .product-item-info {
                width: 100%;
            }

            .product-item-photo {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
            }

            .product-image-container {
                flex: 1;
            }

            .product-image-wrapper {
                padding-bottom: 100% !important;
                background-color: #eeee;
            }

            .product-item-name {
                display: inline;
                margin: 0 0 10px;

                .product-item-link {
                    font-weight: 700;
                    display: block;
                    float: left;
                }

                &:after {
                    content: ', ';
                }
            }

            .product-item-link {
                font-weight: 700;
            }

            .price-box {
                display: inline-block;
                margin: 0;
            }

            .product-item-actions {
                display: block;
            }

            .action.tocart.primary {
                width: 100%;
                padding: 20px 25px;
                text-align: center;
            }

            .actions-secondary {
                display: none;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
            .tocart {
                opacity: 0;

                .active & {
                    opacity: 1;
                }
            }
        }
    }
}


.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__s) {
    .product {
        &-items {
            margin: 0 -10px;
            width: auto;
        }

        &-item {
            padding: 0px 10px;

            .products-grid & {
                margin-bottom: @indent__l;
            }

            &-actions {
                display: block;

                .products-grid & {
                    margin: @indent__s 0;
                }

                .actions-primary+.actions-secondary {
                    display: table-cell;
                    /* ? */
                    padding-left: 5px;
                    white-space: nowrap;
                    width: 50%;

                    >* {
                        white-space: normal;
                    }
                }
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                flex-basis: calc(~'100% / 2 - 20px');

                +.product-item:nth-child(2), +.product-item:nth-child(3) {
                    margin-top: 0;
                }
            }
        }
    }


    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                flex-basis: calc(~'100% / 3 - 20px');

                +.product-item:nth-child(2), +.product-item:nth-child(3) {
                    margin-top: 0;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                flex-basis: calc(~'100% / 2 - 20px');
            }
        }
    }


    .page-products.page-layout-1column, .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                flex-basis: calc(~'100% / 3 - 20px');
            }

            +.product-item:nth-child(2), +.product-item:nth-child(3) {
                margin-top: 0;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {
    .page-products {
        .products-grid {
            .product-item {
                flex-basis: calc(~'100% / 3 - 20px');
            }
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0 -10px;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .product-item {
                padding: 0;

              +.product-item:nth-child(2), +.product-item:nth-child(3) {
                    margin-top: 0;
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/3;
                }
            }
        }


        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}