<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Sales\Block\Order\Totals
 * @see \Magento\Sales\Block\Order\Totals
 */
?>
<?php foreach ($block->getTotals() as $_code => $_total): ?>
    <?php if ($_total->getBlockName()): ?>
        <?= $block->getChildHtml($_total->getBlockName(), false) ?>
    <?php else:?>
        <tr class="<?= /* @escapeNotVerified */ $_code ?>">
            <th <?= /* @escapeNotVerified */ $block->getLabelProperties() ?> scope="row">
                <?php if ($_total->getStrong()):?>
                    <?php
                    if ($_total->getLabel() == "Preço Final (Sem Impostos)") {
                        continue;
                    }?>
                    <strong><?= $block->escapeHtml($_total->getLabel()) ?></strong>
                <?php else:?>
                    <?= $block->escapeHtml($_total->getLabel()) ?>
                <?php endif?>
            </th>
            <td <?= /* @escapeNotVerified */ $block->getValueProperties() ?> data-th="<?= $block->escapeHtml($_total->getLabel()) ?>">
                <?php if ($_total->getStrong()):?>
                    <strong><?= /* @escapeNotVerified */ $block->formatValue($_total) ?></strong>
                <?php else:?>
                    <?= /* @escapeNotVerified */ $block->formatValue($_total) ?>
                <?php endif?>
            </td>
        </tr>
    <?php endif?>
<?php endforeach?>