<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Blog
 */
?>
<?php
/** @var \Amasty\Blog\Block\Content\Lists $block */
?>
<div class="list row">
    <?php if (count($block->getCollection())): ?>
        <?php /** @var \Amasty\Blog\Model\Posts */ ?>
        <?php foreach ($block->getCollection() as $post): ?>
        <?php $post->getData() ?>
            <div class="post col-12 col-md-6">
                <?php if ($post->getListThumbnailSrc()): ?>
                    <div class="thumbnail-container">
                        <a href="<?php echo $post->getPostUrl(); ?>" title="<?php echo $block->escapeHtml($post->getTitle()); ?>">
                            <img class="thumbnail" src="<?php echo $post->getListThumbnailSrc(); ?>" alt="<?php echo $block->escapeHtml($post->getTitle()); ?>"/>
                        </a>
                    </div>
                <?php endif; ?>
                <h2><a href="<?php echo $post->getPostUrl(); ?>"><?php echo $block->escapeHtml($post->getTitle()); ?></a></h2>
                <?php if ($post->getPublishedAt()) : ?>
                    <div class="published_at">
                        <p>
                            <?= /* @escapeNotVerified */ __('Published ') ?>
                            <?php echo date('j M \'y', strtotime($post->getPublishedAt())) ?>
                            <?php if (count($post->getCategoriesName())) : ?>
                                <?php foreach ($post->getCategoriesName() as $cat) : ?>
                                    <?php echo ', ' . $cat ?>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </p>
                    </div>
                <?php endif; ?>
                <?php if ($post->getShortContent()) : ?>
                <div class="description">
                    <?php echo $post->getShortContent(); ?>
                </div>
                <?php endif; ?>
                <div class="read-more">
                    <a class="button" href="<?php echo $block->getReadMoreUrl($post); ?>" title="<?= /* @escapeNotVerified */ __("Read More"); ?>">
                        <?= /* @escapeNotVerified */ __("Read More"); ?>
                    </a>
                </div>
            </div>
        <?php endforeach; ?>
        <?php echo $block->getToolbarHtml(); ?>
    <?php else: ?>
        <p><?= /* @escapeNotVerified */ __("There are no posts yet."); ?></p>
    <?php endif; ?>
</div>