<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<h1 class="thank-you"><?= /* @escapeNotVerified */ __('Thank you for your purchase!') ?></h1>
<?php if ($block->getOrderId()):?>
    <div class="order-number-wrapper">
        <?php if ($block->getCanViewOrder()) :?>
            <a href="<?= $block->escapeHtml($block->getViewOrderUrl()) ?>"><?= __('Your order number is: %1.', sprintf('<span class="order-number">%s</span>', $block->escapeHtml($block->getOrderId()))) ?></a>
        <?php  else :?>
            <?= __('Your order # is: <span class="order-number">%1</span>.', $block->escapeHtml($block->getOrderId())) ?>
        <?php endif;?>
    </div>
    <div class="email-details"><?= /* @escapeNotVerified */ __('We\'ll email you an order confirmation with details and tracking info.') ?></div>
<?php endif;?>
<div class="additional-info">
    <?= $block->getAdditionalInfoHtml() ?>
</div>