<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
    <div class="product info detailed">
        <?php $layout = $block->getLayout(); ?>
        <?php
            $newPriority = array();

            foreach ($detailedInfoGroup as $name) {
                $alias = $layout->getElementAlias($name);

                $priority = $block->getChildData($alias,'priority') ? $block->getChildData($alias,'priority') : '10';

                array_push($newPriority, array($name, $priority));
            }

            usort($newPriority, function($a, $b) {
                return $a['1'] <=> $b['1'];
            });
        ?>
        <div class="details owl-carousel" data-mage-init='{ "swissclinic/customcarousel": {
            "margin": 10,
            "nav": false,
            "items": 1,
            "responsive": {
                "0": {
                    "center": true,
                    "dots": true,
                    "loop": false,
                    "mouseDrag": true,
                    "pullDrag": true,
                    "stagePadding": 50,
                    "touchDrag": true
                },
                "768": {
                    "center": false,
                    "dots": false,
                    "loop": false,
                    "mouseDrag": false,
                    "pullDrag": false,
                    "stagePadding": 0,
                    "touchDrag": false
                }
            }}}'>
            <?php foreach ($newPriority as $name):?>    
                <?php
                    $name = $name[0];
                    $html = $layout->renderElement($name);
                    if (!trim($html)) {
                        continue;
                    }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                ?>
               
               <div class="detail detail--<?= /* @escapeNotVerified */ $alias ?>">
                   <div class="detail__header">
                       <?= /* @escapeNotVerified */ $label ?>
                   </div>
                   <div class="detail__content">
                       <?= /* @escapeNotVerified */ $html ?>
                       <div class="description-button collapse d-md-none d-lg-none"><?= /* @escapeNotVerified */ __('Collapse') ?></div>
                   </div>
                   <div class="description-button expand d-md-none d-lg-none"><?= /* @escapeNotVerified */ __('Expand') ?></div>
               </div>
            <?php endforeach;?>
        </div>
    </div>
    <script>
        require(['jquery'], function($){
            $(function() {
                $(window).on('scroll', function() {
                    var scrollPosition = $(this).scrollTop()
                    if (scrollPosition >= 55) {
                        $(".page-header").addClass('fill')
                    } else {
                        $(".page-header").removeClass('fill')
                    }
                })
            })
        })
    </script>
    <script async="">
        require(['jquery'], function($){
            !function() {
                $('.description-button').on('click', function() {
                    if ($(this).hasClass('expand')) {
                        $('.details .detail').addClass('expanded');
                    } else {
                        $('.details .detail').removeClass('expanded');
                    }
                });
            }()
        })
    </script>
<?php endif; ?>
