<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php /** @var $block \Magento\Catalog\Block\Product\AbstractProduct */ ?>
<?php
    $product = $this->getProduct();
    $name = $product->getName();
?>
<div class="reviews__header">
    <span class="reviews__header__title"><?= /* @escapeNotVerified */  sprintf(__('%s Reviews'), $name) ?></span>
    <?= $block->getReviewsSummaryHtml($block->getProduct(), false, true) ?>
</div>