@font-face {
    font-family: 'Beausite Slick';
    font-style: normal;
    font-weight: 400;
    src: local('Beausite Slick'), local(Beausite-Slick), url(https://www.swissclinic.se/dokument/bibliotek/Fonts/BeausiteSlickWeb-Light.woff) format("woff");
}

@font-face {
    font-family: 'Beausite Slick';
    font-style: italic;
    font-weight: 400;
    src: local('Beausite Slick Italic'), local(Beausite-Slick-Italic), url(https://www.swissclinic.se/dokument/bibliotek/Fonts/BeausiteSlickWeb-LightItalic.woff) format("woff");
}

@font-face {
    font-family: 'Beausite Classic';
    font-style: italic;
    font-weight: 400;
    src: local('Beausite Classic'), local(Beausite-Classic), url(https://www.swissclinic.se/dokument/bibliotek/Fonts/BeausiteClassicWeb-Light.woff) format("woff");
}

@media only screen {
    html {
        min-height:100%;
        background:#fff;
    }
}

@media only screen and (max-width:622px) {
    .small-float-center {
        margin: 0 auto !important;
        float: none !important;
        text-align: center !important;
    }
}

@media only screen and (max-width: 622px) {
    .small-text-center {
        text-align: center !important;
    }
}

@media only screen and (max-width: 622px) {
    .small-text-left {
        text-align: left !important;
    }
}

@media only screen and (max-width: 622px) {
    .small-text-right {
        text-align: right !important;
    }
}

@media only screen and (max-width: 622px) {
    .hide-for-large {
        display: block !important;
        width: auto !important;
        overflow: visible !important;
        max-height: none !important;
        font-size: inherit !important;
        line-height: inherit !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body table.container .hide-for-large,
    table.body table.container .row.hide-for-large {
        display: table !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body table.container .callout-inner.hide-for-large {
        display: table-cell !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body table.container .show-for-large {
        display: none !important;
        width: 0;
        mso-hide: all;
        overflow: hidden;
    }
}

@media only screen and (max-width: 622px) {
    table.body img {
        width: auto;
    }
}

@media only screen and (max-width: 622px) {
    table.body center {
        min-width: 0 !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body .container {
        width: 100% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body .column,
    table.body .columns {
        height: auto !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body .column .column,
    table.body .column .columns,
    table.body .columns .column,
    table.body .columns .columns {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body .collapse .column,
    table.body .collapse .columns {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 622px) {
    td.small-1,
    th.small-1 {
        display: inline-block !important;
        width: 8.33333% !important;
    }
}

@media only screen and (max-width: 622px) {
    td.small-2,
    th.small-2 {
        display: inline-block !important;
        width: 16.66667% !important;
    }
}

@media only screen and (max-width: 622px) {
    td.small-3,
    th.small-3 {
        display: inline-block !important;
        width: 25% !important;
    }
}

@media only screen and (max-width: 622px) {
    td.small-4,
    th.small-4 {
        display: inline-block !important;
        width: 33.33333% !important;
    }
}

@media only screen and (max-width: 622px) {
    td.small-5,
    th.small-5 {
        display: inline-block !important;
        width: 41.66667% !important;
    }
}

@media only screen and (max-width: 622px) {
    td.small-6,
    th.small-6 {
        display: inline-block !important;
        width: 50% !important;
    }
}

@media only screen and (max-width: 622px) {
    td.small-7,
    th.small-7 {
        display: inline-block !important;
        width: 58.33333% !important;
    }
}

@media only screen and (max-width: 622px) {
    td.small-8,
    th.small-8 {
        display: inline-block !important;
        width: 66.66667% !important;
    }
}

@media only screen and (max-width: 622px) {
    td.small-9,
    th.small-9 {
        display: inline-block !important;
        width: 75% !important;
    }
}

@media only screen and (max-width: 622px) {
    td.small-10,
    th.small-10 {
        display: inline-block !important;
        width: 83.33333% !important;
    }
}

@media only screen and (max-width: 622px) {
    td.small-11,
    th.small-11 {
        display: inline-block !important;
        width: 91.66667% !important;
    }
}

@media only screen and (max-width: 622px) {
    td.small-12,
    th.small-12 {
        display: inline-block !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 622px) {
    .column td.small-12,
    .column th.small-12,
    .columns td.small-12,
    .columns th.small-12 {
        display: block !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body td.small-offset-1,
    table.body th.small-offset-1 {
        margin-left: 8.33333% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body td.small-offset-2,
    table.body th.small-offset-2 {
        margin-left: 16.66667% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body td.small-offset-3,
    table.body th.small-offset-3 {
        margin-left: 25% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body td.small-offset-4,
    table.body th.small-offset-4 {
        margin-left: 33.33333% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body td.small-offset-5,
    table.body th.small-offset-5 {
        margin-left: 41.66667% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body td.small-offset-6,
    table.body th.small-offset-6 {
        margin-left: 50% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body td.small-offset-7,
    table.body th.small-offset-7 {
        margin-left: 58.33333% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body td.small-offset-8,
    table.body th.small-offset-8 {
        margin-left: 66.66667% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body td.small-offset-9,
    table.body th.small-offset-9 {
        margin-left: 75% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body td.small-offset-10,
    table.body th.small-offset-10 {
        margin-left: 83.33333% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body td.small-offset-11,
    table.body th.small-offset-11 {
        margin-left: 91.66667% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body table.columns td.expander,
    table.body table.columns th.expander {
        display: none !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body .right-text-pad,
    table.body .text-pad-right {
        padding-left: 10px !important;
    }
}

@media only screen and (max-width: 622px) {
    table.body .left-text-pad,
    table.body .text-pad-left {
        padding-right: 10px !important;
    }
}

@media only screen and (max-width: 622px) {
    table.menu {
        width: 100% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.menu td,
    table.menu th {
        width: auto !important;
        display: inline-block !important;
    }
}

@media only screen and (max-width: 622px) {
    table.menu.small-vertical td,
    table.menu.small-vertical th,
    table.menu.vertical td,
    table.menu.vertical th {
        display: block !important;
    }
}

@media only screen and (max-width: 622px) {
    table.menu[align=center] {
        width: auto !important;
    }
}

@media only screen and (max-width: 622px) {
    table.button.small-expand,
    table.button.small-expanded {
        width: 100% !important;
    }
}

@media only screen and (max-width: 622px) {
    table.button.small-expand table,
    table.button.small-expanded table {
        width: 100%;
    }
}

@media only screen and (max-width: 622px) {
    table.button.small-expand table a,
    table.button.small-expanded table a {
        text-align: center !important;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


@media only screen and (max-width: 622px) {
    table.button.small-expand center,
    table.button.small-expanded center {
        min-width: 0;
    }
}

@media only screen and (min-width: 480px) {
    .main-logo {
        height: 36px !important;
    }
}

@media only screen and (max-width: 480px) {
    h2 {
        font-size: 26px !important;
    }
}

@media only screen and (max-width: 480px) {
    h3 {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 480px) {
    p {
        font-size: 16px !important;
    }
}

@media only screen and (min-width: 622px) {
    .footer h4 {
        font-size: 30px;
    }
}