// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@product-grid-items-per-row-layout-default: 1;

@product-grid-items-per-row-layout-1-screen-s: 1;
@product-grid-items-per-row-layout-1-screen-m: 3;
@product-grid-items-per-row-layout-1-screen-l: '';

@product-grid-items-per-row-layout-2-left-screen-s: 1;
@product-grid-items-per-row-layout-2-left-screen-m: 3;
@product-grid-items-per-row-layout-2-left-screen-l: '';

@product-grid-items-per-row-layout-2-right-screen-s: 1;
@product-grid-items-per-row-layout-2-right-screen-m: 3;
@product-grid-items-per-row-layout-2-right-screen-l: '';

@product-grid-items-per-row-layout-3-screen-s: 1;
@product-grid-items-per-row-layout-3-screen-m: '';
@product-grid-items-per-row-layout-3-screen-l: '';

@product-grid-items-padding: 0 @indent__base @indent__base;
@product-grid-items-margin: 0 0 @indent__s;

@product-name-text-decoration: none;
@product-name-text-decoration-hover: @link__hover__text-decoration;

@toolbar-mode-icon-font-size: 26px;
@product-h1-margin-bottom-desktop: @indent__base;

@import 'module/_listings.less';


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  //
  //  Category view
  //  ---------------------------------------------

  .old-price,
  .old.price {
    text-decoration: line-through;
  }

  .field.qty {
    display: none;
  }

  .prices-tier {
    .price-container {
      .price-including-tax {
        + .price-excluding-tax {
          &:before {
            content: '(' attr(data-label) ': ';
          }

          &:last-child:after {
            content: ')';
          }
        }
      }

      .weee[data-label] {
        display: inline;

        .price {
          .lib-font-size(11);
        }

        &:before {
          content: ' +' attr(data-label) ': ';
        }
      }
    }
  }

  .actual-price {
    font-weight: @font-weight__bold;
  }

  .product.name a {
    &:extend(.abs-product-link all);
  }

  .category-image {
    .image {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }

  .category-image,
  .category-description {
    margin-bottom: @indent__base;
  }

  //
  //  Product images general container
  //  ---------------------------------------------

  .product-image-container {
    display: inline-block;
    max-width: 100%;
    background-color: #eee;
    width: 100% !important;
  }

  .product-image-wrapper {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .product-image-photo {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  //
  //  Product view
  //  ---------------------------------------------

  .product.media {
    margin-bottom: 16px;

    .product.photo .photo.image {
      &:extend(.abs-adaptive-images-centered);
    }

    .placeholder .photo.container {
      max-width: 100%;
    }

    .notice {
      .lib-css(color, @text__color__muted);
      .lib-font-size(@font-size__s);
      margin: @indent__s 0;
    }

    .product.thumbs {
      margin: @indent__base 0 @indent__l;
    }

    .items.thumbs {
      .lib-list-inline();

      .active {
        display: block;
        line-height: 1;
      }
    }
  }

  .product.info.detailed {
    clear: both;
    margin-bottom: 30px;

    .additional-attributes {
      width: auto;
      .lib-table-resize(
        @_th-padding-left: 0,
        @_th-padding-right: @indent__l,
        @_th-padding-bottom: @indent__s,
        @_td-padding-bottom: @indent__s
      );
    }
  }

  .product-info-main {
    position: relative;

    .stock {
      &.available,
      &.unavailable {
        display: inline-block;
        margin-right: @indent__base;
        vertical-align: top;
      }

      &.available {
        color: @color-green;
        &::after {
          font-family: '@{icomoon-font-family}' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          content: @icon-check;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
      &.unavailable {
        color: @color-scarlet-red;
      }
    }

    .product {
      &.attribute {
        &.sku {
          display: inline-block;
          vertical-align: top;
          .lib-css(color, @text__color__muted);

          > .value {
            display: inline-block;
            vertical-align: top;
            word-break: break-all;
          }

          .type {
            margin-right: @indent__xs;
          }
        }

        &.overview {
          margin: @indent__base 0;
        }
      }

      &.alert {
        margin: @indent__s 0;
      }
    }

    .product-reviews-summary {
      display: block;

      .action.add {
        margin: 0;
        text-decoration: underline;
      }

      &.rating {
        position: absolute;
        right: 0;
        top: 0;

        @media only screen and (min-width: 768px) {
          top: 2px;
        }
      }
    }

    .product-info-intro {
      margin-bottom: @indent__xs;
    }
  }

  .product-options-wrapper {
    .fieldset-product-options-inner {
      .legend {
        .lib-css(font-weight, @font-weight__bold);
        .lib-css(margin, 0 0 @indent__xs);
        .lib-font-size(14px);
        border: none;
        display: inline-block;
        float: none;
        padding: 0;
      }

      //  Date & Time custom option (Affect Time that goes only after Date)
      input.datetime-picker {
        ~ select.datetime-picker {
          margin-top: @indent__s;
        }
      }

      &.required,
      &._required {
        .legend {
          &:after {
            content: '*';
            .lib-typography(
              @_font-size: @form-field-label-asterisk__font-size,
              @_color: @form-field-label-asterisk__color,
              @_font-family:
                  @form-field-label-asterisk__font-family,
              @_font-weight:
                  @form-field-label-asterisk__font-weight,
              @_line-height:
                  @form-field-label-asterisk__line-height,
              @_font-style: @form-field-label-asterisk__font-style
            );
            .lib-css(margin, @form-field-label-asterisk__margin);
          }
        }
      }
    }

    .field {
      .note {
        display: block;
      }

      .price-notice {
        &:extend(.abs-adjustment-incl-excl-tax all);
      }
    }
  }

  .product-info-main,
  .product-options-bottom {
    .price-box {
      .price-including-tax + .price-excluding-tax,
      .weee + .price-excluding-tax,
      .weee {
        .lib-font-size(12);
        line-height: 14px;
        margin-bottom: @indent__xs;

        .price {
          .lib-font-size(12);
          font-weight: @font-weight__regular;
        }
      }

      .price-wrapper .price {
        .lib-font-size(14);
      }

      .price {
        white-space: nowrap;
      }
    }

    .special-price {
      display: block;
      margin: @indent__s 0;

      .price-container {
        .lib-font-size(14);
      }

      .price-label + .price-wrapper {
        display: inline-block;
      }
    }

    .old-price,
    .special-price {
      .price-label {
        &:after {
          content: ': ';
        }
      }
    }

    .box-tocart {
      margin: @indent__base 0;

      .field.qty {
        padding-right: 0.75 * @indent__base;
      }

      .input-text.qty {
        @tocart-input-size: @button__line-height__l + 28px;
        height: @tocart-input-size + 2px;
        text-align: center;
        width: @tocart-input-size + 2px;
      }

      .actions {
        text-align: center;
      }

      .action.tocart {
        &:extend(.abs-button-responsive all);
        border: none;
        font-weight: 400;
      }
    }

    .product-addto-links {
      margin: @indent__base 0;
    }

    .action.tocompare {
      &:extend(.abs-action-addto-product all);
      vertical-align: top;
    }
  }

  .prices-tier {
    &:extend(.abs-reset-list all);
    .lib-css(background, @sidebar__background-color);
    margin: @indent__s 0;
    padding: @indent__s (0.75 * @indent__base);

    .price-container {
      display: inline-block;
    }

    .price-including-tax,
    .price-excluding-tax,
    .weee {
      display: inline-block;

      .price {
        .lib-font-size(14);
        font-weight: @font-weight__bold;
      }
    }
  }

  .ui-dialog-titlebar-close {
    .lib-button-as-link();
  }

  .block.related {
    .action.select {
      margin: 0 @indent__xs;
    }
  }

  //
  //  Sidebar product view
  //  ---------------------------------------------

  .sidebar {
    .product-items {
      .product-item {
        margin-bottom: @indent__base;
        position: relative;
      }

      .product-item-info {
        position: relative;
        width: auto;

        .product-item-photo {
          left: 0;
          position: absolute;
          top: 0;
        }
      }

      .product-item-name {
        margin-top: 0;
      }

      .product-item-details {
        margin: 0 0 0 85px;
      }

      .product-item-actions {
        display: block;
        margin-top: @indent__s;
      }

      .price-box {
        display: block;
        margin: 7px 0;
      }

      .text {
        margin-right: 8px;
      }

      .counter {
        .lib-css(color, @primary__color__lighter);
        .lib-font-size(12);
        white-space: nowrap;
      }

      .minilist {
        .price {
          display: inline;
          padding: 0;
        }

        .weee:before {
          display: inline-block;
        }
      }
    }

    .action {
      &.delete {
        &:extend(.abs-remove-button-for-blocks all);
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .subtitle {
      &:extend(.abs-no-display all);
    }

    //
    //  Product images only
    //  ---------------------------------------------

    .product-items-images {
      &:extend(.abs-add-clearfix all);
      margin-left: -@indent__xs;

      .product-item {
        &:extend(.abs-add-box-sizing all);
        float: left;
        padding-left: @indent__xs;
      }
    }

    //
    //  Product names only
    //  ---------------------------------------------

    .product-items-names {
      .product-item {
        margin-bottom: @indent__s;
      }

      .product-item-name {
        margin: 0;
      }
    }
  }

  //
  //  Category page 1 column layout
  //  ---------------------------------------------

  .catalog-category-view.page-layout-1column {
    .column.main {
      min-height: inherit;
    }
  }

  .product-item-info {
    max-width: 100%;
    margin: auto;
    width: 100%;
  }

  .product-item-actions {
    display: block;
  }

  body.catalog-product-compare-index {
    .action.print {
      float: right;
      margin: 15px 0;
    }
  }

  .table-wrapper.comparison {
    clear: both;
    max-width: 100%;
    overflow-x: auto;
  }

  .table-comparison {
    table-layout: fixed;

    .cell.label.remove,
    .cell.label.product {
      span {
        &:extend(.abs-visually-hidden all);
      }
    }

    .cell.label,
    td:last-child {
      border-right: @table__border-width @table__border-style @table__border-color;
    }

    .cell {
      padding: 15px;
      width: 140px;

      .attribute.value {
        overflow: hidden;
        width: 100%;
      }

      &.product.info,
      &.product.label {
        border-bottom: @table__border-width @table__border-style @table__border-color;
      }

      &.label {
        .attribute.label {
          display: block;
          width: 100%;
          word-wrap: break-word;
        }
      }

      &.attribute {
        .lib-font-size(13);
        img {
          height: auto;
          max-width: 100%;
        }
      }
    }

    .product-item-photo {
      display: block;
      margin: 0 auto 15px;
    }

    .product-image-photo {
      margin-left: 0;
    }

    .product-item-actions,
    .price-box,
    .product.rating,
    .product-item-name {
      display: block;
      margin: 15px 0;
    }

    .product-addto-links {
      margin-top: 15px;

      .action.split,
      .action.toggle {
        .lib-button-s();
      }

      .action.toggle {
        padding: 0;
      }
    }

    .cell.remove {
      padding-bottom: 0;
      padding-top: 0;
      text-align: right;

      .action.delete {
        &:extend(.abs-remove-button-for-blocks all);
      }
    }

    .product-item-actions {
      > .actions-primary {
        + .actions-secondary {
          margin-top: @indent__s;
        }
      }
    }

    .action {
      &.tocart {
        white-space: nowrap;
      }
    }
  }

  .comparison.headings {
    .lib-css(background, @page__background-color);
    left: 0;
    position: absolute;
    top: 0;
    width: auto;
    z-index: 2;
  }

  .block-compare {
    .block-title {
      &:extend(.abs-block-title all);
    }

    .product-item .product-item-name {
      margin-left: 22px;
    }

    .action {
      &.delete {
        &:extend(.abs-remove-button-for-blocks all);
        left: -6px;
        position: absolute;
        top: 0;
      }

      &.compare {
        &:extend(.abs-revert-secondary-color all);
      }
    }

    .counter {
      &:extend(.abs-block-items-counter all);
    }

    .actions-toolbar {
      margin: 17px 0 0;
    }
  }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when
  (@extremum = 'max')
  and
  (@break = @screen__m) {
  .catalog-product-view {
    .column.main {
      .lib-vendor-prefix-display(flex);
      .lib-vendor-prefix-flex-direction(column);
    }

    .product.media {
      .lib-vendor-prefix-order(-1);
    }

    .product-info-main .box-tocart {
      .actions {
        .action.tocart {
          &:extend(.abs-button-responsive-smaller all);
        }
      }
    }

    .block.related {
      .action.select {
        display: block;
        margin: @indent__xs 0;
      }
    }

    .compare,
    .product-addto-links .action.tocompare,
    .product-item-actions .actions-secondary > .action.tocompare,
    [class*='block-compare'] {
      display: none;
    }

    .page-title-wrapper.product .page-title {
      font-family: @font-family__sans-serif;
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 600;
    }

    //
    //  Details
    //  ---------------------------------------------
    .owl-stage {
      display: flex;
    }

    .details .detail__header {
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      padding: 0 0 1.5rem;
      position: relative;
      font-weight: 600;

      &::after {
        content: '';
        height: 1px;
        width: 10%;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    .details {
      .detail--description {
        background: #e6d6df;
        color: #000;
        .detail__header::after {
          background: #000;
        }
      }

      .detail--amfaq_product, .detail--instructions {
        background: #9e8f99;
        color: #fff;
        .detail__header::after {
          background: #fff;
        }
      }
    }


    .upsell .block-content.content {
      margin: 0 -20px;
    }

    .details .detail {
      padding: 20px;
    }

    .product.info.detailed {
      margin: 0 -20px;
    }

    .product-info-main .product.attribute.overview {
      text-align: center;
      padding: 0px @indent__base;
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when
  (@extremum = 'min')
  and
  (@break = @screen__m) {

  .details {
    .owl-stage {
      width: 100% !important;
      flex-wrap: wrap;
    }

    .detail {
      margin-bottom: 24px;

      .detail__header {
        .lib-heading(h2)
      }
    }
  }

  .catalog-product-view {
    .product-info-intro {
      margin-top: @indent__s;
    }
  }

  .page-title-wrapper.product .page-title {
    margin-top: 0 !important;
  }

  .sidebar {
    .product-items {
      .product-item-info {
        .product-item-photo {
          float: left;
          left: auto;
          margin: 0 @indent__s @indent__s 0;
          position: relative;
          top: auto;
        }
      }

      .product-item-details {
        margin: 0;
      }

      .product-item-actions {
        clear: left;
      }
    }
  }

  .product-add-form {
    &:extend(.abs-revert-field-type-desktop all);
  }

  .page-title-wrapper {
    .page-title {
      margin-top: 0;
    }
  }

  .product-info-main {
    float: right;
  }

  .product.media {
    float: left;
    margin-bottom: @indent__m;
  }

  .page-layout-1column {
    .product-info-main {
      width: 40%;
    }
    .product.media {
      width: 45%;
    }
  }

  .page-layout-2columns-left,
  .page-layout-2columns-right,
  .page-layout-3columns {
    .product-info-main {
      width: 48%;
    }

    .product.media {
      width: 50%;
    }
  }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when
  (@extremum = 'min')
  and
  (@break = @screen__xl) {
  .sidebar {
    .product-items {
      .product-item-info {
        .product-item-photo {
          float: none;
          left: 0;
          margin: 0;
          position: absolute;
          top: 0;
        }
      }

      .product-item-details {
        margin-left: 85px;
      }
    }
  }

  .product-info-main {
    width: 50% !important;
  }

}