<?php if($block->getMethodCode() === "moipboleto"): ?>
  <div class="moip-block">
    <p class="code-title">O código de barras do seu boleto é:</p>
    <div id="copyTarget" class="code">
      <?= $block->getInfo('line_code_boleto'); ?>
    </div>
    <div class="buttons">
      <button id="copyButton"  class="action primary continue">Copiar</button>
      <a href="<?php echo $block->getInfo('href_boleto_print'); ?>" target="_blank" class="action primary continue">
        Imprimir Boleto
      </a>
    </div>
  </div>

  <script type="text/javascript">
    document.getElementById("copyTarget").innerHTML = document.getElementById("copyTarget").innerHTML.trim();

    document.getElementById("copyButton").addEventListener("click", function() {
      copyToClipboard(document.getElementById("copyTarget"));
    });

    function copyToClipboard(elem) {
      // create hidden text element, if it doesn't already exist
      var targetId = "_hiddenCopyText_";
      var origSelectionStart, origSelectionEnd;

      // must use a temporary form element for the selection and copy
      target = document.getElementById(targetId);
      if (!target) {
        var target = document.createElement("textarea");
        target.style.position = "absolute";
        target.style.left = "-9999px";
        target.style.top = "0";
        target.id = targetId;
        document.body.appendChild(target);
      }

      target.textContent = elem.textContent;

      // select the content
      var currentFocus = document.activeElement;
      target.focus();
      target.setSelectionRange(0, target.value.length);
      
      // copy the selection
      var succeed;
      try {
        succeed = document.execCommand("copy");
      } catch(e) {
        succeed = false;
      }

      // restore original focus
      if (currentFocus && typeof currentFocus.focus === "function") {
        currentFocus.focus();
      }

      target.textContent = "";

      return succeed;
    }
  </script>
<?php endif; ?>