<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->
                                      <!-- End Content -->
                                      </th>
                                    </tr>
                                  </table>
                                </th>
                              </tr>
                            </table>
                            <!-- Footer -->
                            <table align="center" class="container main-red footer float-center" style="margin:0 auto;background:#fff;background-color:#470018 !important;border-collapse:collapse;border-spacing:0;float:none;padding:0;text-align:center;vertical-align:top;width:598px;">
                              <tbody style="color:#fff !important;">
                                <tr style="color:#fff !important;padding:0;text-align:left;vertical-align:top;">
                                  <td style="-webkit-hyphens:auto;margin:0;border-collapse:collapse !important;color:#fff !important;font-family:Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
                                    <table bgcolor="#470018" class="wrapper" align="center" style="border-collapse:collapse;border-spacing:0;color:#fff !important;padding:0;text-align:left;vertical-align:top;width:100%;">
                                      <tbody>
                                        <tr style="color:#fff !important;padding:0;text-align:left;vertical-align:top;">
                                          <td class="wrapper-inner" style="-webkit-hyphens:auto;margin:0;border-collapse:collapse !important;color:#fff !important;font-family:Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
                                            <table class="row" style="border-collapse:collapse;border-spacing:0;color:#fff !important;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;">
                                              <tbody style="color:#fff !important;">
                                                <tr style="color:#fff !important;padding:0;text-align:left;vertical-align:top;">
                                                  <th class="small-12 large-12 columns first last" style="margin:0 auto;color:#fff !important;font-family:Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0;padding-bottom:24px;padding-left:24px;padding-right:24px;text-align:left;width:574px;">
                                                    <table style="border-collapse:collapse;border-spacing:0;color:#fff !important;padding:0;text-align:left;vertical-align:top;width:100%;">
                                                      <tr style="color:#fff !important;padding:0;text-align:left;vertical-align:top;">
                                                        <th style="margin:0;color:#fff !important;font-family:Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0;text-align:left;">
                                                          <table class="spacer" style="border-collapse:collapse;border-spacing:0;color:#fff !important;padding:0;text-align:left;vertical-align:top;width:100%;">
                                                            <tbody style="color:#fff !important;">
                                                              <tr style="color:#fff !important;padding:0;text-align:left;vertical-align:top;">
                                                                <td height="48" style="-webkit-hyphens:auto;margin:0;border-collapse:collapse !important;color:#fff !important;font-family:Arial, sans-serif;font-size:48px;font-weight:300;line-height:48px;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;"> </td>
                                                              </tr>
                                                            </tbody>
                                                          </table>
                                                          <h6 class="m-0" style="-webkit-font-smoothing:antialiased;margin:0 !important;margin-bottom:24px;color:#fff !important;font-family:'Beausite Slick', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:20px;font-weight:300;line-height:1;padding:0;text-align:left;word-wrap:normal;">{{trans "Thank you, %store_name" store_name=$store.getFrontendName()}}!</h6>
                                                        </th>
                                                        <th class="expander" style="margin:0;color:#fff !important;font-family:Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0 !important;text-align:left;visibility:hidden;width:0;"></th>
                                                      </tr>
                                                    </table>
                                                  </th>
                                                </tr>
                                              </tbody>
                                            </table>
                                            <table class="row" style="border-collapse:collapse;border-spacing:0;color:#fff !important;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;">
                                              <tbody style="color:#fff !important;">
                                                <tr style="color:#fff !important;padding:0;text-align:left;vertical-align:top;">
                                                  <th style="margin:0 auto;color:#fff !important;font-family:Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0;padding-bottom:24px;padding-right:24px;text-align:left;">
                                                    <table style="border-collapse:collapse;border-spacing:0;color:#fff !important;padding:0;text-align:left;vertical-align:top;width:100%;">
                                                      <tr style="color:#fff !important;padding:0;text-align:left;vertical-align:top;">
                                                        <th style="margin:0;color:#fff !important;font-family:Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0;text-align:left;">
                                                          <h4 class="text-right" style="-webkit-font-smoothing:antialiased;margin:0;margin-bottom:24px;color:#fff !important;font-family:'Beausite Slick', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:22px;font-weight:300;line-height:1;padding:0;text-align:right;word-wrap:normal;">
                                                            <em style="color:#fff !important;">Make a difference</em>
                                                          </h4>
                                                        </th>
                                                      </tr>
                                                    </table>
                                                  </th>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>