<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Header"}} @-->
<!--@vars {
"var logo_height":"Email Logo Image Height",
"var logo_width":"Email Logo Image Width",
"var template_styles|raw":"Template CSS"
} @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <style type="text/css">
    {{var template_styles|raw}}
    {{css file="css/email.css"}}
  </style>
  </head>

  <!-- Begin wrapper table -->
  <body>

  {{inlinecss file="css/email-inline.css"}}
    <table class="body" style="margin:0;background:#fff;border-collapse:collapse;border-spacing:0;color:#000;font-family:'Beausite Classic', Arial, sans-serif;font-size:20px;font-weight:300;height:100%;line-height:26px;padding:0;text-align:left;vertical-align:top;width:100%;">
      <tbody>
        <tr style="padding:0;text-align:left;vertical-align:top;">
          <td class="center" align="center" valign="top" style="-webkit-hyphens:auto;margin:0;border-collapse:collapse !important;color:#000;font-family:'Beausite Classic', Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
            <center style="min-width:598px;width:100%;">
              <table align="center" class="container float-center" style="margin:0 auto;background:#fff;border-collapse:collapse;border-spacing:0;float:none;padding:0;text-align:center;vertical-align:top;width:598px;">
                <tbody>
                  <tr style="padding:0;text-align:left;vertical-align:top;">
                    <td style="-webkit-hyphens:auto;margin:0;border-collapse:collapse !important;color:#000;font-family:'Beausite Classic', Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
                      <table bgcolor="#470018" class="wrapper header" align="center" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                        <tbody>
                          <tr style="padding:0;text-align:left;vertical-align:top;">
                            <td class="wrapper-inner" style="-webkit-hyphens:auto;margin:0;border-collapse:collapse !important;color:#000;font-family:'Beausite Classic', Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
                              <a href="{{store url=""}}" style="-webkit-font-smoothing:antialiased;margin:0;color:#470018;font-family:'Beausite Slick', 'Helvetica Neue', Helvetica, 'Beausite Classic', Arial, sans-serif;font-weight:300;line-height:1;padding:0;text-align:left;text-decoration:none;">
                                <img class="main-logo" src="http://www.swissclinic.se/bilder/mail/swiss-clinic-logo-white.png" alt="" height="38" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;height:24px;max-width:100%!important;outline:0;padding:24px;text-decoration:none;width:auto">
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table align="center" class="container content mc float-center" style="margin:0 auto;background:#fff;border-collapse:collapse;border-left:1px solid #d7dce1;border-right:1px solid #d7dce1;border-spacing:0;float:none;max-width:599px !important;padding:0;text-align:center;vertical-align:top;width:598px;">
                <tbody>
                  <tr style="padding:0;text-align:left;vertical-align:top;">
                    <td style="-webkit-hyphens:auto;margin:0;border-collapse:collapse !important;color:#000;font-family:'Beausite Classic', Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
                      <table class="wrapper" align="center" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                        <tr style="padding:0;text-align:left;vertical-align:top;">
                          <td class="wrapper-inner" style="-webkit-hyphens:auto;margin:0;border-collapse:collapse !important;color:#000;font-family:'Beausite Classic', Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0;text-align:left;vertical-align:top;word-wrap:break-word;">
                            <table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%;">
                              <tr style="padding:0;text-align:left;vertical-align:top;">
                                <th class="text-center small-12 large-12 columns first last" style="margin:0 auto;color:#000;font-family:'Beausite Classic', Arial, sans-serif;font-size:20px;font-weight:300;line-height:26px;padding:0;padding-left:24px;padding-right:24px;padding-top:48px;padding-bottom:48px;text-align:center;width:574px;">
                                  <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%;">
                                    <tr style="padding:0;text-align:left;vertical-align:top;">
                                      <th style="margin:0;color:#000;font-family:'Beausite Classic', Arial, sans-serif;font-size:18px;font-weight:300;line-height:22px;padding:0;text-align:left;">
                                      <!-- Begin Content -->