<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
/**
 * @var \Amasty\Faq\Block\Lists\QuestionsList $block
 */
?>
<div class="questions flex-1">
<?php if ($questions = $block->getQuestions()) : ?>
    <?php foreach ($questions as $question) : ?>
        <div class="question">
            <h2 class="question-title">
                <?= $block->highlight($block->escapeHtml($question->getTitle())); ?>
            </h2>
            <?= /** @escapeNotVerified */ $block->highlight($question->getAnswer()); ?>
        </div>
    <?php endforeach; ?>
<?php else : ?>
    <div class="am-no-items">
        <?= $block->escapeHtml($block->getNoItemsLabel()); ?>
    </div>
<?php endif; ?>
</div>