// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@review-ratings-left: 280px;
@reviews-indent-desktop: 30px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .rating-summary {
        text-align: right;

        .lib-rating-summary();

        .rating-result {
            margin-bottom: @indent__xs;

            &::before {
                content: '@{icon-star-ol}' '@{icon-star-ol}' '@{icon-star-ol}'
                    '@{icon-star-ol}' '@{icon-star-ol}';
            }
        }

        #reviews & {
            width: 150px;
            display: flex;
            justify-content: space-between;
        }
    }

    #reviews {
        text-align: center;
    }

    .review-content,
    .review-details {
        margin-left: 0 !important;
    }

    .review-title {
        clear: both;
        padding: 2rem 0 1rem;
        margin-bottom: 0 !important;
    }

    .review-item {
        border: none;

        + .review-item {
            border-bottom: 2px solid #000000;
        }
    }

    .product-reviews-summary,
    .table-reviews {
        .rating-summary {
            .lib-rating-summary-label-hide();
        }
    }

    .review-control-vote {
        .lib-rating-vote();
    }

    .review-form {
        margin: 0 auto;
    }

    //
    //  Add review block
    //  ---------------------------------------------

    .block {
        &.add.review {
            margin-bottom: @indent__xl;

            > .title {
                .lib-heading(h2);
            }

            .legend {
                .lib-heading(h3);
                margin: 0 0 @indent__base;
            }

            .field.rating {
                display: table-row;

                .label {
                    display: table-cell;
                    padding: @indent__xs 0;
                    vertical-align: middle;
                }

                .control {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        &.reviews.list {
            > .title {
                .lib-heading(h2);
            }

            .review {
                &.item {
                    margin-bottom: @indent__xl;
                }

                &.title {
                    .lib-heading(h3);
                }
            }
        }
    }

    .data.table.reviews {
        .rating-summary {
            margin-top: -4px;
        }
    }

    .customer-review.view {
        margin-bottom: @indent__base;

        .review.title,
        .ratings-summary,
        .product-details {
            margin-bottom: @indent__base;
        }
    }

    .reviews__header {
        margin: @indent__base 0;
        padding-top: @indent__base;
        border-top: 1px solid #ebebeb;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }

        .reviews__header__title {
            .lib-heading(h2);
            margin-top: 0;
            margin-bottom: 0.5rem;
            display: block;
            flex: 1;
        }

        .product-reviews-summary {
            position: static;

            .rating-summary {
                width: auto !important;
            }
        }
    }

    .review-add {
        padding: 2.4rem;
        margin: @indent__base 0 0;
        background: #eee;

        @media only screen and (max-width: 991px) {
            margin: @indent__base -@indent__base 0;
        }
    }

    .product-reviews-summary {
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 0;
        max-width: 140px;

        .products.wrapper.list & {
            margin: 0 auto;
        }

        &.empty {
            margin-left: 0;
        }

        .reviews-actions {
            @media only screen and (max-width: 767px) {
                font-size: 13px;
            }

            text-align: right !important;

            .product-info-main & {
                text-align: right;
            }

            #reviews & {
                display: none;
            }

            a {
                margin-right: @indent__xs;
            }

            .action.view {
                text-transform: uppercase;
                display: block;
                float: right;
                text-decoration: none;
                margin: 0.5rem 0 0;
                border-bottom: 1px solid #000;

                span {
                    display: block;
                    letter-spacing: 1px;
                    font-size: 12px;
                    float: left;

                    &:nth-child(2) {
                        padding-right: 2px;
                    }
                }
            }

            .action.add {
                display: none;

                .product-info-main & {
                    display: inline-block;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = 'min')
    and
    (@break = @screen__m) {
    .product-reviews-summary {
        .products.wrapper.list & {
            margin: 0;
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .customer-review {
        .product-details {
            &:extend(.abs-add-clearfix all);
            margin-bottom: @indent__xl;
        }

        .product-media {
            float: left;
            margin-right: 3%;
            max-width: 285px;
            width: 30%;
        }

        .review-details {
            .customer-review-rating {
                .lib-css(margin-bottom, @indent__base);

                .item {
                    .lib-css(margin-bottom, @indent__s);

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .review-title {
                .lib-heading(h3);
                .lib-css(font-weight, @font-weight__semibold);
                .lib-css(margin-bottom, @indent__base);
            }

            .review-content {
                .lib-css(margin-bottom, @indent__base);
            }
        }

        .product-reviews-summary {
            .rating-summary,
            .reviews-actions {
                display: block;
            }
        }
    }

    .review-field-ratings {
        .nested {
            display: table;
        }

        .review-field-rating {
            display: table-row;

            .label,
            .control {
                display: table-cell;
                padding-bottom: @indent__s;
                vertical-align: top;
            }

            .label {
                padding-right: @indent__s;
                padding-top: 6px;
            }

            .control {
                padding-top: 2px;
            }
        }
    }

    //
    //  Review product page
    //  ---------------------------------------------

    .review-control-vote:before {
        content: '@{icon-star-ol}' '@{icon-star-ol}' '@{icon-star-ol}'
            '@{icon-star-ol}' '@{icon-star-ol}';
    }

    .review {
        &-toolbar {
            border-top: 2px solid @color-black;
            margin: 0 0 @indent__base;
            text-align: center;

            &:first-child {
                display: none;
            }

            .pages {
                border-bottom: 2px solid @color-black;
                display: block;
                padding: @indent__base 0;
                text-align: center;
            }

            .limiter {
                display: none;
            }
        }

        &-add {
            .block-title {
                display: none;
            }
        }

        &-form {
            .action.submit.primary {
                .lib-button-revert-secondary-color();
            }
        }

        .fieldset &-legend.legend {
            &:extend(.abs-reset-left-margin all);

            strong {
                display: block;
                margin-left: 0;
            }
        }

        &-field-rating {
            .control {
                margin-bottom: 1.2 * @indent__xl;
                margin-top: @indent__s;
            }
        }

        &-list {
            margin-bottom: @indent__l;

            .block-title {
                text-align: center;

                strong {
                    .lib-heading(h2);
                }
            }
        }

        &-item {
            .lib-clearer();
            border-bottom: 2px solid @color-black;
            margin: 0;
            padding: @indent__base 0;

            &:last-child {
                border-width: 0;
            }
        }

        &-ratings {
            display: table;
            //margin-bottom: @indent__s;
            float: left;
            max-width: 100%;
            &:extend(.abs-rating-summary all);
        }

        &-date {
            font-weight: @font-weight__bold;
            text-align: right;
            margin-bottom: @indent__s;
            &::after {
                content: '';
                clear: both;
            }
        }

        &-author {
            display: inline;
        }

        &-title {
            .lib-heading(h2);
        }

        &-content {
            margin-bottom: @indent__base;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break)
    when
    (@extremum = 'min')
    and
    (@break = @screen__s) {
    .review {
        &-form {
            max-width: 500px;
        }

        &-ratings {
            float: left;
            margin-bottom: 0;
            max-width: @review-ratings-left - @indent__xl;
        }

        &-ratings ~ &-content,
        &-ratings ~ &-details {
            margin-left: @review-ratings-left;
        }

        &-toolbar {
            margin: 0 0 @reviews-indent-desktop;

            .pages {
                padding: @reviews-indent-desktop 0;
            }
        }

        .fieldset &-legend.legend {
            margin-bottom: @reviews-indent-desktop;
        }

        &-item {
            padding: @reviews-indent-desktop 0;
        }

        &-title {
            margin: 0 0 @reviews-indent-desktop;
        }
    }

    .review-add {
        background: transparent;
    }
}
