& when (@media-common = true) {
	.cms-amasty-faq-home-page {
		.page-title {
			padding: 0 20px;
		}
	}

	.faq-category-view {
		.page-title {
			padding: 0 20px;
		}
	}

	.cms-amasty-faq-home-page,
	.faq-category-view {
		& .column.main {
			margin: 0 -20px;
		}

		.page-title {
			margin-top: 32px !important;
			margin-bottom: 32px !important;
			font-family: @font-family__serif !important;
			font-size: 32px !important;
			font-weight: 300 !important;
		}

		.faq-content {
			flex-direction: column;
			display: flex;
			margin-bottom: 32px;
		}

		.faq-categories {
			margin-top: -4px;
			-webkit-columns: auto 2;
			-moz-columns: auto 2;
			columns: auto 2;
		}

		.faq-category {
			margin: 0;
		}

		.faq-category-link,
		.faq-category-link:visited,
		.faq-category-link:hover {
			color: #78002c;
			text-decoration: none;
			padding: 4px 20px;
			display: block;
		}

		.questions {
			padding: 0 20px;
		}

		.question {
			margin-top: 32px;

			&:first-child {
				margin-top: 0;

				.question-title {
					margin-top: 0;
				}
			}

			.question-title {
				color: #470018;
				margin: 0 0 12px;
			}
		}

		.alert {
			-webkit-box-shadow: 0 0 0 1px rgba(99, 115, 129, 0.05),
				0 1px 2px 0 rgba(99, 115, 129, 0.5);
			box-shadow: 0 0 0 1px rgba(99, 115, 129, 0.05),
				0 1px 2px 0 rgba(99, 115, 129, 0.5);
			position: relative;
			padding: 1rem 1rem;
			margin-bottom: 1rem;
			border: 1px solid transparent;
			border-radius: 0;

			&-info {
				color: #004085;
				background-color: #f5faff;
				border-color: #52a5ff;
			}
		}
	}
}

/* Tablet */
.media-width(@extremum, @break)
	when
	(@extremum = 'min')
	and
	(@break = @screen__m) {
	.cms-amasty-faq-home-page {
		.faq-categories {
			max-width: 260px;
		}
	}
	.faq-category-view {
		.column.main {
			padding: 0 20px;
		}
		.columns {
			margin-left: -20px;
			margin-right: -20px;
		}
		.faq-categories {
			max-width: 260px;
		}
	}
	.cms-amasty-faq-home-page,
	.faq-category-view {
		.faq-content {
			flex-direction: row;
		}

		.faq-categories {
			-webkit-columns: unset;
			-moz-columns: unset;
			columns: unset;
		}
	}
}

/* Desktop */
.media-width(@extremum, @break)
	when
	(@extremum = 'min')
	and
	(@break = @screen__l) {
	.cms-amasty-faq-home-page {
		.page-title {
			padding: 0 40px;
		}
		.faq-categories {
			max-width: none;
		}
	}
	.faq-category-view {
		.page-title {
			padding: 0;
		}
		.faq-categories {
			max-width: none;
		}
		.faq-content {
			margin-left: -20px;
			margin-right: -20px;
		}
	}
}
