<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Faq
 */
?>
<?php
/**
 * @var \Amasty\Faq\Block\View\Category $block
 */
?>
<?php if (!empty($block->getDescription())) : ?>
    <div class="amfaq-category-description"><?= $block->getDescription(); ?></div>
<?php endif; ?>
<div class="faq-content">
	<?=  $block->getChildHtml('amasty_faq_category_view_categories'); ?>
	<?=  $block->getChildHtml('amasty_faq_questions'); ?>
</div>